$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

* {
  padding: 0;
  -GtkToolButton-icon-spacing: 4;
  -GtkTextView-error-underline-color: other_colors(error);

  // The size for scrollbars. The slider is 2px smaller, but we keep it
  // up so that the whole area is sensitive to button presses for the
  // slider. The stepper button is larger in both directions, the slider
  // only in the width

  -GtkScrolledWindow-scrollbar-spacing: 0;

  -GtkScrolled-window-overlay-scrolling: FALSE;

  -GtkToolItemGroup-expander-size: 11;

  -GtkTreeView-horizontal-separator: 4;

  -GtkWidget-text-handle-width: 20;
  -GtkWidget-text-handle-height: 20;

  -GtkDialog-button-spacing: 4;
  -GtkDialog-action-area-border: 0;

  outline-width: 0px;
  text-shadow: none;
}


/***************
 * Base States *
 ***************/

.background {
  color: window_color(fg);
  background-color: window_color(bg);
}

/*
   These wildcard seems unavoidable, need to investigate.
   Wildcards are bad and troublesome, use them with care,
   or better, just don't.
   Everytime a wildcard is used a kitten dies, painfully.
*/

*:disabled {
  -gtk-icon-effect: dim;
}

.gtkstyle-fallback {
  background-color: window_color(bg);
  color: window_color(fg);
  &:hover {
    background-color: selection_color(hover);
    color: window_color(fg);
  }
  &:active {
    background-color: selection_color(bg);
    color: selection_color(fg);
  }
  &:disabled {
    background-color: window_color(disabled_bg);
    color: window_color(disabled_fg);
  }
  &:selected {
    background-color: selection_color(bg);
    color: selection_color(fg);
  }
}

%view,
.view {
  color: view_color(fg);
  background-color: view_color(bg);
  &:hover { 
    background-color: gtkalpha(selection_color(bg),0.75);
  }
  &:selected {
    &:focus,
    &:hover, & {
    @extend %selected_items;
    }
  }
}

.view,
textview {
  text {
    @extend %view;

    selection { &:focus, & { @extend %selected_items; }}
  }
}

iconview { @extend .view; }

textview border {
  background-color: view_color(bg);
  background-image: image(border_color()); // HACK: the border node just draws background so,
  background-repeat: no-repeat;                        // using a background-image to draw the border

  &.bottom {
    background-size: 100% 1px;
    background-position: top;
  }

  &.top {
    background-size: 100% 1px;
    background-position: bottom;
  }

  &.left {
    background-size: 1px 100%;
    background-position: right;
  }

  &.right {
    background-size: 1px 100%;
    background-position: left;
  }
}

.rubberband,
rubberband {
  border: 1px solid selection_color(bg);
  background-color: gtkalpha(selection_color(hover), 0.8);
}

flowbox {
  rubberband { @extend rubberband; }

  flowboxchild {
    padding: 3px;
    border-radius: $r;

    &:selected {
      @extend %selected_items;

      outline-offset: 0px;
    }
  }
}

label {
  //padding-right: 4px;
  &.separator {
    color: border_color();
    @extend .dim-label;
  }
  selection {
    background-color: selection_color(bg);
    color: selection_color(fg)
  }
  &:disabled {
    color: window_color(disabled_fg);
    selection { @extend %selected_items:disabled; }
  }
}

.dim-label {
  opacity: 0.5;
  text-shadow: none;
}

assistant {
  .sidebar {
    background-color: view_color(fg);
    border-top: 1px solid border_color();
  }
  &.csd .sidebar { border-top-style: none; }
  .sidebar label {
    padding: 6px 12px;
  }
  .sidebar label.highlight {
    background-color: selection_color(bg);
  }
}

%osd, 
.osd {
  color: window_color(fg);
  border: 1px solid border_color();
  background-color: gtkalpha(window_color(bg), 0.2);
  background-clip: padding-box;
  box-shadow: none;
  text-shadow: none;
  -gtk-icon-shadow: none;
}

%selected_items {
  background-color: selection_color(bg);
  color: selection_color(fg);
  border-radius: 0px;

  &:hover {
    background-color: selection_color(hover);
    color: window_color(fg);
  }
  &:disabled { color: selection_color(disabled_fg); }
}
