
// buttons

@mixin button($t, $c:button_color(bg), $tc:button_color(fg)) {
//
// Button drawing function
//
// $t:    button type,
// $c:    base button color for colored* types
// $tc:   optional text color for colored* types
// $edge: set to none to not draw the bottom edge or specify a color to not
//        use the default one
//
// possible $t values:
// normal, hover, active, insensitive, insensitive-active,
// backdrop, backdrop-active, backdrop-insensitive, backdrop-insensitive-active,
// osd, osd-hover, osd-active, osd-insensitive, osd-backdrop, undecorated
//

  @if $t==normal {
  //
  // normal button
  //
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    text-shadow: none;
    -gtk-icon-shadow: none;

    color: $tc;
    border-color: if($c!=button_color(bg), $c, border_color());
    background-color: if($c!=button_color(bg), $c, transparent);
    background-image: if($c!=button_color(bg), none, button_color(bg));
  }

  @else if $t==hover {
  //
  // hovered button
  //
    color: $tc;
    border-color: if($c!=button_color(bg), $c, button_color(hover));
  }

  @else if $t==active {
  //
  // pushed button
  //
    color: if($tc==button_color(fg),button_color(active_fg), $tc);
    border-color: if($c!=button_color(bg), $c, button_color(active));
    background-color: if($c!=button_color(bg), $c, transparent);
    background-image: if($c!=button_color(bg), none, button_color(active_bg));
  }

  @else if $t==active-hover {
  //
  //
  //
    color: $tc;
    border-color: if($c!=button_color(bg), gtkalpha($c, 0.5), button_color(hover));
    background-color: if($c!=button_color(bg), gtkalpha($c, 0.5), transparent);
    background-image: if($c!=button_color(bg), none, button_color(active_hover));
  }

  @else if $t==insensitive {
  //
  // insensitive button
  //
    color: if($tc!=button_color(fg), $tc, button_color(disabled_fg));
    border-color: if($c!=button_color(bg), $c, border_color(disabled));
    background-color: if($c!=button_color(bg), $c, transparent);
    background-image: if($c!=button_color(bg), none, button_color(disabled_bg));
    > .label { color: inherit; }
  }

  @else if $t==insensitive-active {
  //
  // insensitive pushed button
  //
    color: if($tc!=button_color(fg), $tc, button_color(disabled_active_fg));
    border-color: if($c!=button_color(bg), $c, button_color(disabled_active));
    background-color: if($c!=button_color(bg), $c, transparent);
    background-image: if($c!=button_color(bg), none, button_color(disabled_active_bg));
    > .label { color: inherit; }
  }

  @else if $t==backdrop {
  //
  // backdrop button
  //
    color: if($tc!=button_color(fg), $tc, button_color(backdrop_fg));
    border-color: if($c!=button_color(bg), $c, border_color(backdrop));
    background-color: if($c!=button_color(bg), $c, transparent);
    background-image: if($c!=button_color(bg), none, button_color(backdrop_bg));
  }

  @else if $t==backdrop-active {
  //
  // backdrop pushed button
  //
    color: if($tc!=button_color(fg), $tc, button_color(backdrop_active_fg));
    border-color: if($c!=button_color(bg), $c, button_color(backdrop_active));
    background-color: if($c!=button_color(bg), $c, transparent);
    background-image: if($c!=button_color(bg), none, button_color(backdrop_active_bg));
  }

  @else if $t==backdrop-insensitive {
  //
  // backdrop insensitive button
  //
    color: if($tc!=button_color(fg), $tc, button_color(backdrop_disabled_fg));
    border-color: if($c!=button_color(bg), $c, border_color(backdrop_disabled));
    background-color: if($c!=button_color(bg), $c, transparent);
    background-image: if($c!=button_color(bg), none, button_color(backdrop_disabled_bg));
    > .label { color: inherit; }
  }

  @else if $t==backdrop-insensitive-active {
  //
  // backdrop insensitive pushed button
  //
    color: if($tc!=button_color(fg), $tc, button_color(backdrop_disabled_active_fg));
    border-color: if($c!=button_color(bg), $c, button_color(backdrop_disabled_active));
    background-color: if($c!=button_color(bg), $c, transparent);
    background-image: if($c!=button_color(bg), none, button_color(backdrop_disabled_active_bg));
    > .label { color: inherit; }
  }

  @else if $t==undecorated {
  //
  // reset
  //
    border-color: transparent;  //FIXME needed?
    background-color: transparent;
    background-image: none;
	  box-shadow:none;
    color: $tc;

    text-shadow: none;
    -gtk-icon-shadow: none;
  }
}

/***********
 * Buttons *
 ***********/

// stuff for .needs-attention

@keyframes needs_attention {
  from {
    background-color: transparent;
    color: other_colors(warning)
  }
  to {
    background-color: gtkalpha(other_colors(warning), 0.7);
    color: other_colors(warning);
  }
}

%buttons {

    $_button_transition: all 200ms $ease-out-quad;

    border: 1px solid;
    border-radius: $r;
    padding: 6px;
    background-clip: border-box;
    transition: $_button_transition;
    min-height: 18px;
    margin: 1px;
    @include button(normal);
    &.flat {
      @include button(undecorated);
      // to avoid adiacent buttons borders clashing when transitioning, the transition on the normal state is set
      // to none, while it's added back in the hover state, so the button decoration will fade in on hover, but
      // it won't fade out when the pointer leave the button allocation area. To make the transition more evident
      // in this case the duration is increased.
      transition: none;
      &:hover {
        transition: $_button_transition;
        transition-duration: 50ms;
        &:active { 
          transition: $_button_transition; 
          margin: 1px;
        }
      }
    }
    // &.popup {
    //     &:checked {
    //       background-image: none;
    //       color: button_color(fg);
    //       border-color: button_color(active);
    //       background-color: button_color(active);
    //       box-shadow: none;
    //   }
    // }
    
    &:hover {
      @include button(hover);
      -gtk-icon-effect: none;  // Do we want this?
    }
    &:focus { 
      @include button(active); 
      &:hover {
        @include button(active-hover);
      }
    }
    &:active, 
    &:checked:active {
      @include button(active);
      transition: none;
      &:hover {
    	  @include button(active-hover);
        margin-top: 2px;
        margin-left: 2px;
        margin-bottom: 0px;
        margin-right: 0px;
        box-shadow: none;
      }
    }
    &:checked { 
        background-image: none;
        color: button_color(fg);
        border-color: border_color();
        background-color: border_color();
        &:hover {
          @include button(active-hover);
          }
        &:disabled {
          color: button_color(disabled_fg);
          background-color: border_color(disabled);
          border-color: border_color(disabled);
        }
    }
    &.flat:disabled {
      @extend %undecorated_button;
      color: button_color(disabled_fg);
    }
    &:disabled {
      @include button(insensitive);
      &:active {
        @include button(insensitive-active);
      }
    }
    separator {
      background-color: transparent;
      background-image: none;
      color: transparent;
    }
}

button {
  @at-root %button_basic, & {
    @extend %buttons;
    &.osd {
      @extend %buttons;
    }
    //overlay / OSD style
    .osd & {
      //@extend %buttons;
    }

    &.image-button {
      min-width:18px;
      padding: 6px;
    }

    &.text-button {
      padding-left: 6px;
      padding-right: 6px;
    }

    &.text-button.image-button {
      padding-left: 6px;
      padding-right: 6px;
      label {
        padding-left: 6px;
        padding-right: 6px;
      }
    }
    // FIXME
    // &:drop(active) {
    //   color: $drop_target_color;
    //   border-color: $drop_target_color;
    //   box-shadow: inset 0 0 0 1px $drop_target_color;
    // }
  }

  @at-root %button_selected, & {
    row:selected & {
      border-color: selection_color(bg);

      &.flat:not(:active):not(:checked):not(:hover):not(disabled) {
        color: selection_color(fg);
        border-color: transparent;

        &:backdrop { color: selection_color(fg); }
      }
    }
  }

  //Webkitgtk workaround start
  &:active { color: button_color(fg); }
  //Webkitgtk workaround end

  //Suggested and Destructive Action buttons
  &.destructive-action,
  &.destructive-action.osd & {
    @include button(normal, other_colors(error), button_color(active_fg));
    &.flat {
      @include button(undecorated);
      color: other_colors(error);
    }
    &:hover { @include button(normal, gtkalpha(other_colors(error),0.5), button_color(fg)); } 
    &:active, &:checked { @include button(active, other_colors(error), button_color(active_fg)); }
    &.flat:disabled {
      @include button(undecorated);
      color: gtkalpha(other_colors(error), 0.2);
    }
    &:disabled {
      @include button(insensitive);
      &:active, &:checked {
        @include button(insensitive-active, other_colors(error), button_color(disabled_active_fg));
      }
    }
  }


  .stack-switcher > & {
    // // to position the needs attention dot, padding is added to the button
    // // child, a label needs just lateral padding while an icon needs vertical
    // // padding added too.
    // > label {
    //   padding-left: 6px;  // label padding
    //   padding-right: 6px; //
    // }
    // > image {
    //   padding-left: 6px;   // image padding
    //   padding-right: 6px;  //
    //   padding-top: 3px;    //
    //   padding-bottom: 3px; //
    // }
    // &.text-button {
    //   padding: 4px; // needed or it will get overridden
    // }
    // &.image-button {
    //   // we want image buttons to have a 1:1 aspect ratio, so compensation
    //   // of the padding added to the GtkImage is needed
    //   padding: 3px 0px;
    // }
    &.needs-attention { @extend %needs_attention; }
  }

  //inline-toolbar buttons
  .inline-toolbar &, .inline-toolbar &:backdrop {
    border-radius: $r;
    border-width: 1px;
  }

  .primary-toolbar & { -gtk-icon-shadow: none; }
}

/**************
 * ComboBoxes *
 **************/
 combobox {
  button { 
    min-height: 22px;
    padding: 4px 4px; 
  }
  
  arrow {
     -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
     min-height: 12px;
     min-width: 12px;
     padding-left: 2px;
     padding-right: 2px;
   }
  }

%needs_attention {
  animation: needs_attention 150ms ease-in;
  background-color: gtkalpha(other_colors(warning), 0.7);
  color: other_colors(warning);
  &:hover {
    background-color: gtkalpha(other_colors(warning), 0.6);
    border-color: gtkalpha(other_colors(warning), 0.6);
  }
  &:active {
    background-image: none;
    background-color: other_colors(warning);
    border-color: other_colors(warning);
    color: button_color(active_fg);
  }
}

%undecorated_button {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  box-shadow:none;
  text-shadow: none;
  -gtk-icon-shadow: none;
}
