/************
 * Calendar *
 ***********/
calendar {
  color: view_color(fg);
  border: 1px solid border_color();
  background-color: view_color(bg);
  &:disabled { color: view_color(disabled_fg); }
  &:selected {
    background-color: border_color();
  }

  &.header {
    border: 1px solid border_color();
    border-radius: 0;
    color: view_color(fg);
    background-color: window_color(bg);
  }

  &.button {
    @extend %undecorated_button;
    color: button_color(fg);

    &:hover {
      @extend %undecorated_button;
      color: button_color(hover);
    }
    &:active {
      @extend %undecorated_button;
      color: button_color(active);
    }
  }

  &:indeterminate,
  &.highlight {
    color: gtkalpha(view_color(fg),0.5);
  }

  &:indeterminate:backdrop,
  &.highlight:backdrop {
    color: view_color(fg);
  }
}
