/*************************
 * Check and Radio items *
 *************************/
@each $s,$as in ('','-unchecked-normal'),
                 (':hover', '-unchecked-hover'),
                 (':active', '-unchecked-hover'),
                 (':checked', '-checked-normal'),
                 (':checked:hover', '-checked-hover'),
                 (':checked:active', '-checked-hover') {
 .view.content-view.check#{$s}:not(list) {
   -gtk-icon-shadow: none;
   -gtk-icon-source: -gtk-scaled(url("../assets/check-selectionmode#{$as}.png"), url("../assets/check-selectionmode#{$as}@2.png"));
   background-color: transparent;
 }
}

checkbutton.text-button, radiobutton.text-button {
 // this is for a nice focus on check and radios text
 padding: 2px 0;
 outline-offset: 0;

 label:not(:only-child) {
   &:first-child { margin-left: 4px; }
   &:last-child { margin-right: 4px; }
 }
}

@each $a in ('check','radio') {

  #{$a} {
   margin: 0 4px;

   &:only-child { margin: 0; }

   min-height: 20px;
   min-width: 20px;
   //border: none;
   animation: none;
   background-color: transparent;
   -gtk-icon-source: -gtk-scaled(url("../assets/#{$a}-unchecked-normal.png"), url("../assets/#{$a}-unchecked-normal@2.png"));

   @each $s,$as in ('hover','-hover'),
                    ('disabled','-disabled') {
    &:#{$s} { -gtk-icon-source: -gtk-scaled(url("../assets/#{$a}-unchecked#{$as}.png"), url("../assets/#{$a}-unchecked#{$as}@2.png")); }
    &:checked {
      -gtk-icon-source: -gtk-scaled(url("../assets/#{$a}-checked-normal.png"), url("../assets/#{$a}-checked-normal@2.png"));
      &:#{$s} { -gtk-icon-source: -gtk-scaled(url("../assets/#{$a}-checked#{$as}.png"), url("../assets/#{$a}-checked#{$as}@2.png")); }
    }
    &:indeterminate {
      -gtk-icon-source: -gtk-scaled(url("../assets/#{$a}-mixed-normal.png"), url("../assets/#{$a}-mixed-normal@2.png"));
      &:#{$s} { -gtk-icon-source: -gtk-scaled(url("../assets/#{$a}-mixed#{$as}.png"), url("../assets/#{$a}-mixed#{$as}@2.png")); }
    }
  }


  
   menu menuitem & {
     margin: 0; // this is a workaround for a menu check/radio size allocation issue
     min-height: 20px;
     min-width: 20px;
     background-color: transparent;
     box-shadow: none;
     -gtk-icon-shadow: none;
     animation: none;
     &:hover {
       -gtk-icon-source: -gtk-scaled(url("../assets/#{$a}-unchecked-normal.png"), url("../assets/#{$a}-unchecked-normal@2.png"));
     }
     &:checked:hover {
       -gtk-icon-source: -gtk-scaled(url("../assets/#{$a}-checked-normal.png"), url("../assets/#{$a}-checked-normal@2.png"));
     }
     &:indeterminate:hover {
       -gtk-icon-source: -gtk-scaled(url("../assets/#{$a}-mixed-normal.png"), url("../assets/#{$a}-mixed-normal@2.png"));
     }
   }
  }
}

@keyframes check_check {
    0%   {-gtk-icon-source: -gtk-scaled(url("../assets/check-check-0.png"), url("../assets/check-check-0@2.png"));}
    20%  {-gtk-icon-source: -gtk-scaled(url("../assets/check-check-1.png"), url("../assets/check-check-1@2.png"));}
    40%  {-gtk-icon-source: -gtk-scaled(url("../assets/check-check-2.png"), url("../assets/check-check-2@2.png"));}
    60%  {-gtk-icon-source: -gtk-scaled(url("../assets/check-check-3.png"), url("../assets/check-check-3@2.png"));}
    80%  {-gtk-icon-source: -gtk-scaled(url("../assets/check-check-4.png"), url("../assets/check-check-4@2.png"));}
    100% {-gtk-icon-source: -gtk-scaled(url("../assets/check-check-5.png"), url("../assets/check-check-5@2.png"));}
}

@keyframes check_uncheck {
    0%   {-gtk-icon-source: -gtk-scaled(url("../assets/check-uncheck-0.png"), url("../assets/check-uncheck-0@2.png"));}
    20%  {-gtk-icon-source: -gtk-scaled(url("../assets/check-uncheck-1.png"), url("../assets/check-uncheck-1@2.png"));}
    40%  {-gtk-icon-source: -gtk-scaled(url("../assets/check-uncheck-2.png"), url("../assets/check-uncheck-2@2.png"));}
    60%  {-gtk-icon-source: -gtk-scaled(url("../assets/check-uncheck-3.png"), url("../assets/check-uncheck-3@2.png"));}
    80%  {-gtk-icon-source: -gtk-scaled(url("../assets/check-uncheck-4.png"), url("../assets/check-uncheck-4@2.png"));}
    100% {-gtk-icon-source: -gtk-scaled(url("../assets/check-uncheck-5.png"), url("../assets/check-uncheck-5@2.png"));}
}

// @keyframes selectionmode_check {
//     0%   {-gtk-icon-source: -gtk-scaled(url("../assets/check-check-selectionmode0.png"), url("../assets/check-check-selectionmode0@2.png"));}
//     20%  {-gtk-icon-source: -gtk-scaled(url("../assets/check-check-selectionmode1.png"), url("../assets/check-check-selectionmode1@2.png"));}
//     40%  {-gtk-icon-source: -gtk-scaled(url("../assets/check-check-selectionmode2.png"), url("../assets/check-check-selectionmode2@2.png"));}
//     60%  {-gtk-icon-source: -gtk-scaled(url("../assets/check-check-selectionmode3.png"), url("../assets/check-check-selectionmode3@2.png"));}
//     80%  {-gtk-icon-source: -gtk-scaled(url("../assets/check-check-selectionmode4.png"), url("../assets/check-check-selectionmode4@2.png"));}
//     100% {-gtk-icon-source: -gtk-scaled(url("../assets/check-check-selectionmode5.png"), url("../assets/check-check-selectionmode5@2.png"));}
// }

// @keyframes selectionmode_uncheck {
//     0%   {-gtk-icon-source: -gtk-scaled(url("../assets/check-uncheck-selectionmode0.png"), url("../assets/check-uncheck-selectionmode0@2.png"));}
//     20%  {-gtk-icon-source: -gtk-scaled(url("../assets/check-uncheck-selectionmode1.png"), url("../assets/check-uncheck-selectionmode1@2.png"));}
//     40%  {-gtk-icon-source: -gtk-scaled(url("../assets/check-uncheck-selectionmode2.png"), url("../assets/check-uncheck-selectionmode2@2.png"));}
//     60%  {-gtk-icon-source: -gtk-scaled(url("../assets/check-uncheck-selectionmode3.png"), url("../assets/check-uncheck-selectionmode3@2.png"));}
//     80%  {-gtk-icon-source: -gtk-scaled(url("../assets/check-uncheck-selectionmode4.png"), url("../assets/check-uncheck-selectionmode4@2.png"));}
//     100% {-gtk-icon-source: -gtk-scaled(url("../assets/check-uncheck-selectionmode5.png"), url("../assets/check-uncheck-selectionmode5@2.png"));}
// }

@keyframes check_mixed {
  from {-gtk-icon-source: -gtk-scaled(url("../assets/check-mixed-hover.png"), url("../assets/check-mixed-hover@2.png"));}
  to {-gtk-icon-source: -gtk-scaled(url("../assets/check-mixed-hover-pressed.png"), url("../assets/check-mixed-hover-pressed@2.png"));}
}

@keyframes radio_check {
    0%   {-gtk-icon-source: -gtk-scaled(url("../assets/radio-check-0.png"), url("../assets/radio-check-0@2.png"));}
    20%  {-gtk-icon-source: -gtk-scaled(url("../assets/radio-check-1.png"), url("../assets/radio-check-1@2.png"));}
    40%  {-gtk-icon-source: -gtk-scaled(url("../assets/radio-check-2.png"), url("../assets/radio-check-2@2.png"));}
    60%  {-gtk-icon-source: -gtk-scaled(url("../assets/radio-check-3.png"), url("../assets/radio-check-3@2.png"));}
    80%  {-gtk-icon-source: -gtk-scaled(url("../assets/radio-check-4.png"), url("../assets/radio-check-4@2.png"));}
    100% {-gtk-icon-source: -gtk-scaled(url("../assets/radio-check-5.png"), url("../assets/radio-check-5@2.png"));}
}

@keyframes radio_uncheck {
    0%   {-gtk-icon-source: -gtk-scaled(url("../assets/radio-uncheck-0.png"), url("../assets/radio-uncheck-0@2.png"));}
    20%  {-gtk-icon-source: -gtk-scaled(url("../assets/radio-uncheck-1.png"), url("../assets/radio-uncheck-1@2.png"));}
    40%  {-gtk-icon-source: -gtk-scaled(url("../assets/radio-uncheck-2.png"), url("../assets/radio-uncheck-2@2.png"));}
    60%  {-gtk-icon-source: -gtk-scaled(url("../assets/radio-uncheck-3.png"), url("../assets/radio-uncheck-3@2.png"));}
    80%  {-gtk-icon-source: -gtk-scaled(url("../assets/radio-uncheck-4.png"), url("../assets/radio-uncheck-4@2.png"));}
    100% {-gtk-icon-source: -gtk-scaled(url("../assets/radio-uncheck-5.png"), url("../assets/radio-uncheck-5@2.png"));}
}

@keyframes radio_mixed {
  from {-gtk-icon-source: -gtk-scaled(url("../assets/radio-mixed-hover.png"), url("../assets/radio-mixed-hover@2.png"));}
  to {-gtk-icon-source: -gtk-scaled(url("../assets/radio-mixed-hover-pressed.png"), url("../assets/radio-mixed-hover-pressed@2.png"));}
}

radio:active:checked { 
  animation: radio_uncheck;
  animation-duration:250ms;
  -gtk-icon-source: -gtk-scaled(url("../assets/radio-uncheck-5.png"), url("../assets/radio-uncheck-5@2.png"));
}

radio:active { 
  animation: radio_check;
  animation-duration:250ms;
  -gtk-icon-source: -gtk-scaled(url("../assets/radio-check-5.png"), url("../assets/radio-check-5@2.png"));
}

radio:active:indeterminate {
  animation: radio_mixed;
  animation-duration:100ms;
  -gtk-icon-source: -gtk-scaled(url("../assets/radio-mixed-hover-pressed.png"), url("../assets/radio-mixed-hover-pressed@2.png"));
}

check:active:checked {
  animation: check_uncheck;
  animation-duration:250ms;
  -gtk-icon-source: -gtk-scaled(url("../assets/check-uncheck-5.png"), url("../assets/check-uncheck-5@2.png"));
}

check:active {
  animation: check_check;
  animation-duration:250ms;
  -gtk-icon-source: -gtk-scaled(url("../assets/check-check-5.png"), url("../assets/check-check-5@2.png"));
}

check:active:indeterminate {
  animation: check_mixed;
  animation-duration:100ms;
  -gtk-icon-source: -gtk-scaled(url("../assets/check-mixed-hover-pressed.png"), url("../assets/check-mixed-hover-pressed@2.png"));
}


// Does not work
// .view.content-view.check:checked:active:not(list) {
//   animation: selectionmode_uncheck;
//   animation-duration:250ms;
//   -gtk-icon-source: -gtk-scaled(url("../assets/check-uncheck-selectionmode5.png"), url("../assets/check-uncheck-selectionmode5@2.png"));
// }

// .view.content-view.check:active:not(list) {
//   animation: selectionmode_check;
//   animation-duration:250ms;
//   -gtk-icon-source: -gtk-scaled(url("../assets/check-check-selectionmode5.png"), url("../assets/check-check-selectionmode5@2.png"));
// }
