/***********
 * Dialogs *
 ***********/

// .message-dialog .dialog-action-area .button {
//   //padding: 8px;
// }
dialog {
  headerbar { padding: 0px;}
}

messagedialog { // Message Dialog styling

  &.background { background-color: window_color(bg); }
  .titlebar {
    //min-height: 26px;
    background-color: transparent;
    background-image: titlebar_color(bg);
    box-shadow: none;
  }
  .dialog-action-area {
    padding: 8px;
  }
  button { 
    margin: 2px; 
    &:active:hover { // getting some window jumping
      margin: 2px;
    }
  }
}

// filechooser {
//   padding: 10px;
//   .search-bar {
//     background-color: window_color(bg);
//     border-color: window_color(bg);
//     box-shadow: none;
//     &:backdrop {
//       background-color: window_color(backdrop_bg);
//       border-color: window_color(backdrop_bg);
//       color: window_color(backdrop_fg);
//     }
//   }

//   // .dialog-action-box {
//   //   border-top: 1px solid border_color();
//   //   &:backdrop { border-top-color: border_color(backdrop); }
//   // }
//   // #pathbarbox {
//   //   background-color: window_color(bg);
//   //   border-bottom: 1px solid border_color();
//   // }
//   revealer stack {
//     border: none;
//     margin: -7px; // this is strange but can't figure out where the padding is comming from
//   }

//    revealer stack > box {
//     border: none;
//     margin: -7px; // this is strange but can't figure out where the padding is comming from
//   }

//   revealer revealer stack > box {
//     border: 1px solid border_color();
//     border-radius: 3px;
//   }

//   separator {
//     border: none;
//     background: none;
//   }
// }
