/***************
 * Header bars *
 ***************/

%titlebar,
.titlebar headerbar,
headerbar.titlebar {
  transition: none;
  padding: 0px 6px;
  border-width: 0px 0px 1px 0px;
  border-radius: 0px; /* should be 3px 3px 0px 0px; */
  border-style: solid;
  border-color: selection_color(bg);
  color: titlebar_color(fg);
  background-image: titlebar_color(bg);
  &:backdrop {
    border-color: transparent;
    background-image: none;
    background-color: titlebar_color(backdrop_bg);
    color: titlebar_color(backdrop_fg);
    box-shadow: none;
  }
  label {
    font-weight: normal;
    &:backdrop { color: titlebar_color(backdrop_fg); }
  }
  .path-bar button {
    margin-top: 3px;
    margin-bottom: 3px;
    &.slider-button {
      color: transparent;
    }
    background-image: none;
  }

  button {
    transition: none;
    padding: 4px 6px;
    @include button(undecorated, $tc: titlebar_color(fg));

    &.flat {
      @include button(undecorated,$tc: titlebar_color(fg));
    }
    &:hover,
    &:focus:hover {
      @include button(hover, $tc: titlebar_color(fg));
      background-image: none;
      &:backdrop { border-color: titlebar_color(backdrop_bg); }
    }
    &:focus,
    &:active, 
    &:checked:active {
      @include button(active);
      &:hover {
  	    @include button(active-hover);
        margin: 3px 1px;
      }
      &:backdrop {
        background-image: none;
        background-color: titlebar_color(backdrop_bg);
        border-color: titlebar_color(backdrop_bg);
        color: titlebar_color(backdrop_fg);
      }
    }

    &:checked { 
        background-image: none;
        color: titlebar_color(fg);
        border-color: gtkmix(titlebar_color(fg), titlebar_color(bg_color), 0.75); // same mix as border
        background-color: gtkmix(titlebar_color(fg), titlebar_color(bg_color), 0.75);
        &:hover {
          @include button(active-hover);
          }
        &:disabled {
          color: button_color(disabled_fg);
          background-color: transparent;
          border-color: transparent;
        }
        &:backdrop {
          background-image: none;
          background-color: titlebar_color(backdrop_bg);
          border-color: titlebar_color(backdrop_bg);
          color: titlebar_color(backdrop_fg);
        }
    }
    &.image-button {
      padding: 4px;
    }

    &.text-button.image-button {
      label {
        padding-left: 6px;
        padding-right: 6px;
      }
    }
    // &.popup {
    //     &:checked {
    //       background-image: none;
    //       color: button_color(fg);
    //       border-color: button_color(active);
    //       background-color: button_color(active);
    //       box-shadow: none;
    //   }
    // }

    &:disabled {
      @extend %undecorated_button;
      color: titlebar_color(disabled_fg);
      &:active {
        @include button(insensitive-active);
      }
    }

    // &.suggested-action {
    //   @extend %suggested-action;
    // }

    &:backdrop {
      border-color: transparent;
      background-image: none;
      background-color: titlebar_color(backdrop_bg);
      color: titlebar_color(backdrop_fg);
      }

    &.flat:backdrop, &.flat:backdrop:disabled, &:disabled:backdrop {
      background-image: none;
      background-color: titlebar_color(backdrop_bg);
      color: titlebar_color(backdrop_fg);
      border-color: transparent;
      }
    &.flat:disabled {
      @extend %undecorated_button;;
      color: titlebar_color(disabled_fg);
      }
  }

  .title {
    font-weight: normal;
    font-size: medium;
    padding: 0px 12px;
    &:backdrop { color: titlebar_color(backdrop_fg)}
  }

  .subtitle {
    font-size: smaller;
    padding: 0 12px;
    @extend .dim-label;
    &:backdrop { color: titlebar_color(backdrop_fg)}
  }

  separator {
    border-width: 0px;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
  }

  &.selection-mode {

    @extend .info;

    // &.suggested-action {
    //   @extend %suggested-action;
    // }

    .subtitle:link { @extend *:link:selected;  }

    .selection-menu {
      padding: 4px 6px;

      GtkArrow { -GtkArrow-arrow-scaling: 1; }

      .arrow {
        -gtk-icon-source: -gtk-icontheme('pan-down-symbolic');
        -gtk-icon-shadow: none;
      }
    }
  }

  .tiled &, .maximized & {
    border-radius: 0; // squared corners when the window is max'd or tiled
  }
}

headerbar {
  // add vertical margins to headerbar entries, buttons and separators to avoid them spanning the whole height
  padding: 4px 3px;
  background-color: window_color(bg);
  entry,
  spinbutton,
  separator,
  button {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  button {
    &, &:disabled,
    &:backdrop {
    @extend %undecorated_button;
  }
    &:focus,
    &:active, 
    &:checked:active {
        &, &:backdrop {
        @include button(active);
        &:hover {
          @include button(active-hover);
          margin: 3px 1px;
        }
      }
    }
    &:checked:backdrop {
      background-color: border_color();
      //border-color: border_color();
    }
    // &.popup {
    //     &:checked,
    //     &:active {
    //       background-image: none;
    //       color: button_color(fg);
    //       border-color: button_color(active);
    //       background-color: button_color(active);
    //       box-shadow: none;
    //   }
    // }
  }
}