headerbar {
  // add vertical margins to headerbar entries, buttons and separators to avoid them spanning the whole height
  padding: 4px 3px;
  background-color: window_color(bg);
  entry,
  spinbutton,
  separator,
  button {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  button {
    &, &:disabled,
    &:backdrop {
    @extend %undecorated_button;
  }
    &:focus,
    &:active, 
    &:checked:active {
        &, &:backdrop {
        @include button(active);
        &:hover {
          @include button(active-hover);
          margin: 3px 1px;
        }
      }
    }
    &:checked:backdrop {
      background-color: border_color();
      //border-color: border_color();
    }
    // &.popup {
    //     &:checked,
    //     &:active {
    //       background-image: none;
    //       color: button_color(fg);
    //       border-color: button_color(active);
    //       background-color: button_color(active);
    //       box-shadow: none;
    //   }
    // }
  }
  .title {
    font-weight: normal;
    font-size: 0;
    padding: 0px 12px;
    color: window_color(fg);
    // &:backdrop { color: window_color(backdrop_fg)}
  }

  .subtitle {
    font-size: medium;
    padding: 0 12px;
    color: window_color(fg);
    // &:backdrop { color: window_color(backdrop_fg)}
  }
}