/*********
 * Lists *
 *********/

list {
  background-color: window_color(bg);
  color: window_color(fg);
  border-width: 0px;
  row { padding: 2px; }
}

row {
  transition: all 150ms $ease-out-quad;

  //&:hover { transition: none; }

  &.activatable {
    &.has-open-popup, // this is for indicathing which row generated a popover see https://bugzilla.gnome.org/show_bug.cgi?id=754411

    &:hover { background-color: gtkalpha(selection_color(bg), 0.8); }

    &:active {
      box-shadow: none;
      background-color: selection_color(bg);
    }

    &:selected {
      &:active {
        box-shadow: none;
        background-color: selection_color(bg);
      }

      &.has-open-popup,
      &:hover {
        color: window_color(fg);
        background-color: selection_color(hover);
      }
    }
  }

  &:selected { @extend %selected_items; }
}
