/*****************
 * Notebooks and *
 * Tabs          *
 *****************/
 /*************
  * Notebooks *
  *************/
 notebook {
   //box-shadow: inset 0px 0px 0px 1px border_color();
   //padding: 1px;
   &.frame {
     border: none;
     padding: 0px;
     box-shadow: inset 0px 0px 0px 1px border_color();
   }

   > header {
     padding: 0px;
     border: none;
     background-color: window_color(bg);
     //box-shadow: inset 0 -1px border_color();

     &.top {
       box-shadow: inset 0 -1px border_color(); // border
       &:backdrop { box-shadow: inset 0 -1px border_color(backdrop); }
     }
     &.bottom {
       box-shadow: inset 0 1px border_color();
       &:backdrop { box-shadow: inset 0 1px border_color(backdrop); }
     }
     &.right {
       box-shadow: inset 1px 0 border_color();
       &:backdrop { box-shadow: inset 1px 0 border_color(backdrop); }
     }
     &.left {
       box-shadow: inset -1px 0 border_color();
       &:backdrop { box-shadow: inset -1px 0 border_color(backdrop); }
     }
     tabs {
      margin: 0px;
    }


    @each $_tab, $_border, $_radius in  (top,bottom,3px 3px 0px 0px),
                                        (bottom,top,0px 0px 3px 3px),
                                        (left,right, 3px 0px 0px 3px),
                                        (right,left, 0px 3px 3px 0px) {
      &.#{$_tab} {
        > tabs {
          > tab {
            padding: 6px;
            border: 1px solid gtkalpha(window_color(fg), 0.8);
            background-color: gtkalpha(window_color(fg), 0.8);
            border-radius: #{$_radius};
            border-#{$_border}-color: transparent;
            &:hover, &.prelight-page {
              background-color: gtkalpha(selection_color(bg), 0.8);
              border-color: gtkalpha(selection_color(bg), 0.8);
            }
            &:checked {
              border-color: border_color();
              border-#{$_border}-color: other_colors(menu);
              background-color: other_colors(menu);
            }
          }
        }
      }
    }

    @each $_tab, $_border, $_shadow1 in (top, right, -3px 0px 0px 0px),
                             (bottom, right, -3px 0px 0px 0px),
                             (left, bottom, 0px -3px 0px 0px),
                             (right, bottom, 0px -3px 0px 0px) {
      &.#{$_tab} {
        > tabs {
          > tab {
            &.reorderable-page {
            border-width: 3px;
            border-style: solid;
            border-color: transparent;
            background-color: window_color(bg);
            background-clip: padding-box;
            border-#{$_border}-width: 1px;
            border-#{$_border}-color: border_color();
            box-shadow: inset #{$_shadow1} window_color(bg);
              &:hover, &.prelight-page {
                box-shadow: inset 0px -3px 0px 0px gtkalpha(selection_color(bg),0.8), inset $_shadow1 window_color(bg);
              }
              &:checked {
                box-shadow: inset 0px -3px 0px 0px selection_color(bg), inset $_shadow1 window_color(bg);
              }
            }
          }
        }
      }
    }

     &.top > tabs > arrow {
       @extend %notebook_vert_arrows;

       border-top-style: none;
     }

     &.bottom > tabs > arrow {
       @extend %notebook_vert_arrows;

       border-bottom-style: none;
     }

     @at-root %notebook_vert_arrows {
       margin-left: -5px;
       margin-right: -5px;
       padding-left: 4px;
       padding-right: 4px;

       &.down { -gtk-icon-source: -gtk-icontheme('pan-start-symbolic'); }

       &.up { -gtk-icon-source: -gtk-icontheme('pan-end-symbolic'); }
     }

     &.left > tabs > arrow {
       @extend %notebook_horz_arrows;

       border-left-style: none;
     }

     &.right > tabs > arrow {
       @extend %notebook_horz_arrows;

       border-right-style: none;
     }

     @at-root %notebook_horz_arrows {
       margin-top: -5px;
       margin-bottom: -5px;
       padding-top: 4px;
       padding-bottom: 4px;

       &.down { -gtk-icon-source: -gtk-icontheme('pan-up-symbolic'); }

       &.up { -gtk-icon-source: -gtk-icontheme('pan-down-symbolic'); }
     }

     > tabs > arrow {
       @include button(undecorated);

       min-height: 16px;
       min-width: 16px;
       border-radius: 0;

       &:hover { color: button_color(hover); }
       &:active { color: button_color(active); }
       &:disabled { color: button_color(disabled_fg); }
     }


   // colors the button like the label, overridden otherwise
   button.flat {
     padding: 0;
     //margin: 2px;
     // FIXME: generalize .small-button?
     min-width: 16px;
     min-height: 16px;
     color: border_color();
     @extend %undecorated_button;
     &:hover {
      color: other_colors(error);
    }
    &:active { color: other_colors(error);}
    &:active:hover { 
      background-image:none; 
      border-color:transparent;
    }
   }
 }


  > stack:not(:only-child) { // the :not(:only-child) is for "hidden" notebooks
     margin: 1px;
     background-color: window_color(bg);
     border-style: solid;
     border-color: transparent;
     border-width: 0px;
     border-image:none;
   }
}

.nautilus-window notebook {
  background-color: view_color(bg);
}