/************
 * Pathbars *
 ************/
.path-bar {
  background-color: window_color(fg);
  //border-bottom: 1px solid border_color();
  border: none;
}

.caja-pathbar button,
.path-bar button {
  @include button(undecorated);
  margin: 0px;
  border: none;
  background-image: -gtk-scaled(url("../assets/arrow-right-normal.png"),url("../assets/arrow-right-normal@2.png"));
  background-repeat: no-repeat;
  background-position: right center;
  padding: 4px 10px 4px 2px;
  color: window_color(fg);
  &:nth-last-child(2){
    background-image:none;
    padding-right: 6px; 
  }
  &:hover,
  &:active:hover {
    background-image: -gtk-scaled(url("../assets/arrow-right-hover.png"),url("../assets/arrow-right-hover@2.png"));
    background-color: gtkalpha(selection_color(bg),0.9);
    &:nth-last-child(2){
      background-image:none;
      padding-right: 6px; 
    }
  }
  &:active,
  &:checked:active { margin: 0px; } 
  &:checked { font-weight: bold; }
  &.text-button.image-button label {
    padding-left: 0;
    padding-right: 0;
  }

  &.text-button.image-button, & {
    label:last-child { padding-right: 6px; }
    label:first-child { padding-left: 6px; }
  }
  image {
    padding-left: 4px;
    padding-right: 4px;
  }
  &.slider-button {
    color: transparent;
    background-image: -gtk-scaled(url("../assets/arrow-right-normal.png"),url("../assets/arrow-right-normal@2.png"));
    background-repeat: no-repeat;
    background-position: center center;
    padding-left: 0;
    padding-right: 0;
    &:hover {
      background-image: -gtk-scaled(url("../assets/arrow-right-hover.png"),url("../assets/arrow-right-hover@2.png"));
      background-color: gtkalpha(selection_color(bg),0.9); 
    }
    &:disabled { 
      background-image: none;
      font-size: 0px;
      min-width: 0px;
      image {
        padding: 0px;
        margin: -10px;
      }
    }
  }

  headerbar {
    margin: 3px 1px;
  }
}
