/**************
 * Scrollbars *
 **************/

scrollbar {

  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;

  background-color: transparent;
  margin: 0px;
  &:hover,
  &:active { 
    background-color: window_color(bg);
    trough {
      transition: background-color 200ms $ease-out-quad;
      border: 0px solid window_color(bg);
      border-radius:7px;
      background-color: other_colors(trough);
      box-shadow: inset 0px 0px 0px 4px window_color(bg);
    }
  }

  button {
  //min-width: 14px;
  //min-height: 14px;
  margin: 0px;
  padding: 3px;
	border: none;
  border-radius: 0px;
  background-image: none;
  background-color: window_color(bg);
  color: button_color(fg);
  box-shadow: none;
	&:hover {
    border: none;
    background-image: none;
    background-color: window_color(bg);
		color: button_color(hover);
		}
  &:active,
  &:active:hover {
    border: none;
    background-image: none;
    background-color: window_color(bg);
		color: button_color(active);
  }
	&:disabled {
    border: none;
    background-color: window_color(bg);
    background-image: none;
    color: button_color(disabled_fg);
    }
	}

  // Overlay Scrollbars
  // &.dragging,                                                             // if this isn't set, the scrollbars don't update their size correctly
  // &.hovering { opacity: 0.9910; }                                          // probably a gtk bug
  // &.overlay-indicator:not(.dragging):not(.hovering) { opacity: 0.999; }     //


  // &.overlay-indicator:not(.dragging):not(.hovering) {
  //  -GtkScrollbar-has-backward-stepper: false;
  //  -GtkScrollbar-has-forward-stepper: false;
  //  background: none;

  //   slider {
  //     min-width: 6px;
  //     margin: 4px;
  //     border: none;
  //     border-radius: 3px;
  //     background-color: other_colors(scrollbar);
  //     &:backdrop { background-color: transparent; }
  //   }

  //   trough {
  //     min-width: 4px;
  //     min-height: 4px;
  //     border: none;
  //     background: none;
  //     box-shadow: none;
  //   }

  //   &.horizontal slider { min-height: 6px;}
  // }

  // FIXME firefox and libreoffice
  // trough {
  //   min-width: 6px;
  //   border: 0px solid transparent;
  //   border-radius: 7px;
  //   background-color: transparent;
  // }
  slider {
    min-width: 6px;
    min-height: 30px;
    border: 4px solid transparent;
    border-radius: 7px;
    background-clip: padding-box;
    background-color: other_colors(scrollbar);
    &:hover,
    &:active:hover,
    &:focus:hover { 
      background-color: button_color(hover); 
    }
    &:active,
    &:focus { background-color: button_color(active);}
    &:disabled { background-color: other_colors(scrollbar); }
  }
  &.horizontal slider {
    min-width: 30px;
    min-height: 6px;
  }

  // button icons
  &.vertical {
    min-height: 80px;
    button {
      &.down { -gtk-icon-source: -gtk-icontheme('pan-down-symbolic'); }

      &.up { -gtk-icon-source: -gtk-icontheme('pan-up-symbolic'); }
    }
  }

  &.horizontal {
    min-width: 80px;
    button {
      &.down { -gtk-icon-source: -gtk-icontheme('pan-end-symbolic'); }

      &.up { -gtk-icon-source: -gtk-icontheme('pan-start-symbolic'); }
    }
  }
}
