/**********************
 * Window Decorations *
 *********************/

decoration {

  //border: 1px solid transparent;
  border-radius: $r $r 0 0;
  border-width: 0px;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.5);

  /* this is used for the resize cursor area */
  margin: 10px;

  .maximized &,
  .fullscreen &,
  .tiled & {
    border-radius: 0;
  }
  .popup & {
    border-radius: $r;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1)
  }
  // server-side decorations as used by mutter
  .ssd &{
	  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.1);
  }
  .csd & {
    border-radius: $r;
    &.popup {
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1)
    }
    &.tooltip {
      box-shadow: none;
    }
    &.message-dialog {
      box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.5)
    }
  }
  .solid-csd & {
    border-radius: 0;
    margin: 0;
    padding: 1px;
    border: none;
    background-color: border_color();
    box-shadow: none;
  }
}

headerbar,
.titlebar {
  &.default-decoration button.titlebutton {
    padding: 4px 0px;
    min-height: 18px;
    min-width: 18px;
    margin: 0;
  }
  button.titlebutton {
    padding: 4px;
    &.close,
    &.maximize,
    &.minimize { 
      &,
      &:hover,
      &:active,
      &:checked,
      &:backdrop,
      &:active:hover {
        border-color: transparent;
        background-color: transparent;
        color: transparent;
        border-image: none;
        transition: none;
        box-shadow: none;
        padding: 4px 0px;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0
      }
    }

    &.close {
      background-image: -gtk-scaled(url('../assets/titlebutton-close-normal.png'),url('../assets/titlebutton-close-normal@2.png'));
      &:hover {
        background-image: -gtk-scaled(url('../assets/titlebutton-close-hover.png'),url('../assets/titlebutton-close-hover@2.png'));
      }
      &:active {
        background-image: -gtk-scaled(url('../assets/titlebutton-close-active.png'),url('../assets/titlebutton-close-active@2.png'));
      }
      &:backdrop {
        background-image: -gtk-scaled(url('../assets/titlebutton-close-inactive.png'),url('../assets/titlebutton-close-inactive@2.png'));
        &:hover {
          background-image: -gtk-scaled(url('../assets/titlebutton-close-inactive-hover.png'),url('../assets/titlebutton-close-inactive-hover@2.png'));
        }
      }
    }
    
    &.maximize {
      background-image: -gtk-scaled(url('../assets/titlebutton-maximize-normal.png'),url('../assets/titlebutton-maximize-normal@2.png'));
      &:hover {
        background-image: -gtk-scaled(url('../assets/titlebutton-maximize-hover.png'),url('../assets/titlebutton-maximize-hover@2.png'));
      }
      &:active {
        background-image: -gtk-scaled(url('../assets/titlebutton-maximize-active.png'),url('../assets/titlebutton-maximize-active@2.png'));
      }
      &:backdrop {
        background-image: -gtk-scaled(url('../assets/titlebutton-maximize-inactive.png'),url('../assets/titlebutton-maximize-inactive@2.png'));
        &:hover {
          background-image: -gtk-scaled(url('../assets/titlebutton-maximize-inactive-hover.png'),url('../assets/titlebutton-maximize-inactive-hover@2.png'));
        }
      }
    }

    &.minimize {
      background-image: -gtk-scaled(url('../assets/titlebutton-minimize-normal.png'),url('../assets/titlebutton-minimize-normal@2.png'));
      &:hover {
        background-image: -gtk-scaled(url('../assets/titlebutton-minimize-hover.png'),url('../assets/titlebutton-minimize-hover@2.png'));
      }
      &:active {
        background-image: -gtk-scaled(url('../assets/titlebutton-minimize-active.png'),url('../assets/titlebutton-minimize-active@2.png'));
      }
      &:backdrop {
        background-image: -gtk-scaled(url('../assets/titlebutton-minimize-inactive.png'),url('../assets/titlebutton-minimize-inactive@2.png'));
        &:hover {
          background-image: -gtk-scaled(url('../assets/titlebutton-minimize-inactive-hover.png'),url('../assets/titlebutton-minimize-inactive-hover@2.png'));
        }
      }
    }
  }

  .maximized & {
    button.titlebutton {
      &.maximize {
        padding: 4px 0px;
        color: transparent;
        border-image: none;
        box-shadow: none;
        background-position: center;
        background-repeat: no-repeat;
        background-image: -gtk-scaled(url('../assets/titlebutton-maximize-maximized-normal.png'),url('../assets/titlebutton-maximize-maximized@2.png'));
      }
      &.maximize:hover {
      	border-color: transparent;
        background-color: transparent;
      	background-image: -gtk-scaled(url('../assets/titlebutton-maximize-maximized-hover.png'),url('../assets/titlebutton-maximize-maximized-hover@2.png'));
    	}
      &.maximize:active {
      	border-color: transparent;
        background-color: transparent;
      	background-image: -gtk-scaled(url('../assets/titlebutton-maximize-maximized-active.png'),url('../assets/titlebutton-maximize-maximized-active@2.png'));
    	}
      &.maximize:backdrop {
      	border-color: transparent;
        background-color: transparent;
      	background-image: -gtk-scaled(url('../assets/titlebutton-maximize-maximized-inactive.png'),url('../assets/titlebutton-maximize-maximized-inactive@2.png'));
        &:hover {
          background-image: -gtk-scaled(url('../assets/titlebutton-maximize-maximized-inactive-hover.png'),url('../assets/titlebutton-maximize-maximized-inactive-hover@2.png'));
        }
    	}
    }
  }
}

headerbar.titlebar,
.titlebar headerbar {
  .maximized &,
  .tiled & {
  padding-right: 0px;
  button.titlebutton {
    &.close,
    &.close:hover,
    &.close:active {
      background-position: left;
      padding: 8px 5px 8px 0px;
    }  
  }
  }

}

headerbar.selection-mode button.titlebutton,
.titlebar.selection-mode button.titlebutton {
  text-shadow: none;
  &:backdrop { -gtk-icon-shadow: none; }
}
