/*********************
 * App Notifications *
 *********************/

.app-notification,
.app-notification.frame {
  @extend %osd;
  padding: 10px;
  border-top-width: 0px;
  border-radius: 0px 0px 3px 3px;
  border-color: border_color();
  .button {
    @include button(normal);
    &.flat {
      @extend %undecorated_button;
      icon-shadow: none;
      text-shadow: none;
      color: border_color();
      &:hover {
        @extend %undecorated_button;
        color: other_colors(error);
      }
      &:active {
        @extend %undecorated_button;
        color: other_colors(error);
      }
      &:insensitive { @extend %undecorated_button; }
    }
    &:hover { @include button(hover); }
    &:active,
    &:checked {
      @include button(active);
    }
    &:insensitive {
      @include button(insensitive);
    }
  }
}
