
// buttons

@mixin button($t, $c:button_color(bg), $tc:button_color(fg)) {
//
// Button drawing function
//
// $t:    button type,
// $c:    base button color for colored* types
// $tc:   optional text color for colored* types
// $edge: set to none to not draw the bottom edge or specify a color to not
//        use the default one
//
// possible $t values:
// normal, hover, active, insensitive, insensitive-active,
// backdrop, backdrop-active, backdrop-insensitive, backdrop-insensitive-active,
// osd, osd-hover, osd-active, osd-insensitive, osd-backdrop, undecorated
//

  @if $t==normal {
  //
  // normal button
  //
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    text-shadow: none;
    icon-shadow: none;

    color: $tc;
    border-color: if($c!=button_color(bg), $c, border_color());
    background-color: if($c!=button_color(bg), $c, transparent);
    background-image: if($c!=button_color(bg), none, button_color(bg));
  }

  @else if $t==hover {
  //
  // hovered button
  //
    color: $tc;
    border-color: if($c!=button_color(bg), $c, button_color(hover));
  }

  @else if $t==active {
  //
  // pushed button
  //
    color: if($tc==button_color(fg),button_color(active_fg), $tc);
    border-color: if($c!=button_color(bg), $c, button_color(active));
    background-color: if($c!=button_color(bg), $c, transparent);
    background-image: if($c!=button_color(bg), none, button_color(active_bg));
  }

  @else if $t==active-hover {
  //
  //
  //
    color: $tc;
    border-color: if($c!=button_color(bg), gtkalpha($c, 0.5), button_color(hover));
    background-color: if($c!=button_color(bg), gtkalpha($c, 0.5), transparent);
    background-image: if($c!=button_color(bg), none, button_color(active_hover));
  }

  @else if $t==insensitive {
  //
  // insensitive button
  //
    color: if($tc!=button_color(fg), $tc, button_color(disabled_fg));
    border-color: if($c!=button_color(bg), $c, border_color(disabled));
    background-color: if($c!=button_color(bg), $c, transparent);
    background-image: if($c!=button_color(bg), none, button_color(disabled_bg));
    > .label { color: inherit; }
  }

  @else if $t==insensitive-active {
  //
  // insensitive pushed button
  //
    color: if($tc!=button_color(fg), $tc, button_color(disabled_active_fg));
    border-color: if($c!=button_color(bg), $c, button_color(disabled_active));
    background-color: if($c!=button_color(bg), $c, transparent);
    background-image: if($c!=button_color(bg), none, button_color(disabled_active_bg));
    > .label { color: inherit; }
  }

  @else if $t==backdrop {
  //
  // backdrop button
  //
    color: if($tc!=button_color(fg), $tc, button_color(backdrop_fg));
    border-color: if($c!=button_color(bg), $c, border_color(backdrop));
    background-color: if($c!=button_color(bg), $c, transparent);
    background-image: if($c!=button_color(bg), none, button_color(backdrop_bg));
  }

  @else if $t==backdrop-active {
  //
  // backdrop pushed button
  //
    color: if($tc!=button_color(fg), $tc, button_color(backdrop_active_fg));
    border-color: if($c!=button_color(bg), $c, button_color(backdrop_active));
    background-color: if($c!=button_color(bg), $c, transparent);
    background-image: if($c!=button_color(bg), none, button_color(backdrop_active_bg));
  }

  @else if $t==backdrop-insensitive {
  //
  // backdrop insensitive button
  //
    color: if($tc!=button_color(fg), $tc, button_color(backdrop_disabled_fg));
    border-color: if($c!=button_color(bg), $c, border_color(backdrop_disabled));
    background-color: if($c!=button_color(bg), $c, transparent);
    background-image: if($c!=button_color(bg), none, button_color(backdrop_disabled_bg));
    > .label { color: inherit; }
  }

  @else if $t==backdrop-insensitive-active {
  //
  // backdrop insensitive pushed button
  //
    color: if($tc!=button_color(fg), $tc, button_color(backdrop_disabled_active_fg));
    border-color: if($c!=button_color(bg), $c, button_color(backdrop_disabled_active));
    background-color: if($c!=button_color(bg), $c, transparent);
    background-image: if($c!=button_color(bg), none, button_color(backdrop_disabled_active_bg));
    > .label { color: inherit; }
  }

  @else if $t==undecorated {
  //
  // reset
  //
    border-color: transparent;  //FIXME needed?
    background-color: transparent;
    background-image: none;
    box-shadow:none;
    color: $tc;

    text-shadow: none;
    icon-shadow: none;
  }
}

/***********
 * Buttons *
 ***********/

// stuff for .needs-attention
@keyframes needs_attention {
  from {
    background-color: transparent;
    color: other_colors(warning)
  }
  to {
    background-color: gtkalpha(other_colors(warning), 0.7);
    color: other_colors(warning);
  }
}

%buttons {

    $_button_transition: all 200ms $ease-out-quad;
    margin: 2px;
    border: 1px solid;
    border-radius: $r;
    padding: 6px;
    background-clip: border-box;
    transition: $_button_transition;
    @include button(normal);
    &.flat {
      @include button(undecorated);
      // to avoid adiacent buttons borders clashing when transitioning, the transition on the normal state is set
      // to none, while it's added back in the hover state, so the button decoration will fade in on hover, but
      // it won't fade out when the pointer leave the button allocation area. To make the transition more evident
      // in this case the duration is increased.
      transition: none;
      &:hover {
        transition: $_button_transition;
        transition-duration: 200ms;
        &:active { transition: $_button_transition; }
      }
      &:checked { background-color: border_color();}
    }
    &:hover {
      @include button(hover);
      -gtk-image-effect: highlight;  // Do we want this?
    }
    &:active, 
    &:focus {
      &, &:checked {
        @include button(active);
        transition-duration: 10ms;
        &:hover {
          @include button(active-hover);
        }
      }
    }
    &:checked {
      background-image: none;
      background-color: border_color();
      &:hover {
        transition: none;
        @include button(active-hover);
      }
    }
    &.flat:insensitive {
      @include button(undecorated);
      color: button_color(disabled_fg);
    }
    &:insensitive {
      @include button(insensitive);
      &:active {
        @include button(insensitive-active);
      }
      &:checked {
        background-image: none;
        background-color:border_color(disabled);
        color: button_color(disabled_fg);
      }
    }
    //Webkitgtk workaround start
    &:active { color: button_color(fg); }
    //Webkitgtk workaround end
}

.button {
  @extend %buttons;
  &.osd {
    @extend %buttons;
  }
  //overlay / OSD style
  .osd & {
    @extend %buttons;
  }

  // Suggested and Destructive Action buttons
  &.destructive-action,
  &.destructive-action.osd & {
    @include button(normal, other_colors(error), button_color(active_fg));
    &.flat {
      @include button(undecorated);
      color: other_colors(error);
    }
    &:hover { @include button(normal, gtkalpha(other_colors(error),0.5), button_color(fg)); } 
    &:active, &:checked { @include button(active, other_colors(error), button_color(active_fg)); }
    &.flat:insensitive {
      @include button(undecorated);
      color: gtkalpha(other_colors(error), 0.2);
    }
    &:insensitive {
      @include button(insensitive);
      &:active, &:checked {
        @include button(insensitive-active, other_colors(error), button_color(disabled_active_fg));
      }
    }
  }

  .stack-switcher > & {
    &.needs-attention { @extend %needs_attention; }
  }

  //inline-toolbar buttons
  .inline-toolbar &, .inline-toolbar &:backdrop {
    border-radius: $r;
    border-width: 1px;
  }

  .primary-toolbar & { icon-shadow: none; }

}

/**************
 * ComboBoxes *
 **************/
GtkComboBox {
  > .button { padding: 4px; } // Otherwise combos
                                                       // are bigger then
                                                       // buttons
  -GtkComboBox-arrow-scaling: 0.5;
  -GtkComboBox-shadow-type: none;
}

%needs_attention {
  //animation: needs_attention 150ms ease-in;
  background-image: none;
  background-color: gtkalpha(other_colors(warning), 0.7);
  color: other_colors(warning);
  &:hover {
    background-color: gtkalpha(other_colors(warning), 0.6);
    border-color: gtkalpha(other_colors(warning), 0.6);
  }
  &:active {
    background-image: none;
    background-color: other_colors(warning);
    border-color: other_colors(warning);
    color: button_color(active_fg);
  }
}

%undecorated_button {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  box-shadow:none;
  text-shadow: none;
  icon-shadow: none;
}
