/************
 * Calendar *
 ***********/
GtkCalendar {
  color: view_color(fg);
  border: 1px solid border_color();
  background-color: view_color(bg);
  &:selected {
    background-color: border_color();
  }

  &.header {
    border: 1px solid border_color();
    border-radius: 0;
    color: view_color(fg);
  }

  &.button,
  &.button:focus {
    @extend %undecorated_button;
    color: button_color(fg);

    &:hover {
      @extend %undecorated_button;
      color: button_color(hover);
    }
    &:active {
      @extend %undecorated_button;
      color: button_color(active);
    }
  }

  &:inconsistent,
  &.highlight {
    color: gtkalpha(view_color(fg),0.5);
  }
}
