/***********
 * Dialogs *
 ***********/

// .message-dialog .dialog-action-area .button {
//   //padding: 8px;
// }

.message-dialog { // Message Dialog styling
  -GtkDialog-button-spacing: 8;
  -GtkDialog-action-area-border: 8;
    &.background { background-color: window_color(bg); }
  .titlebar {
    box-shadow: none;
  }
}

GtkFileChooserDialog {

  .search-bar {
    background-color: window_color(bg);
    border-color: window_color(bg);
    box-shadow: none;
  }
  .dialog-action-box {
    border-top: 1px solid border_color();
  }
}
