/***************
 * Header bars *
 ***************/

.titlebar,
.titlebar .header-bar,
.header-bar.titlebar {
  transition: none;
  padding: 0px 6px;
  border-width: 0px 0px 1px 0px;
  border-radius: 0px; /* should be 3px 3px 0px 0px; */
  border-style: solid;
  border-color: selection_color(bg);
  color: titlebar_color(fg);
  background-image: titlebar_color(bg);
  &:backdrop {
    border-color: transparent;
    background-image: none;
    background-color: titlebar_color(backdrop_bg);
    color: titlebar_color(backdrop_fg);
    box-shadow: none;
  }
.path-bar .button {
  color: titlebar_color(fg);
  }
.button {
  padding: 4px 6px;
  transition: none;
  @include button(undecorated, $tc: titlebar_color(fg));

  &.flat {
    @include button(undecorated,$tc: titlebar_color(fg));
  }
  &:hover {
    @include button(hover, $tc: titlebar_color(fg));
    &:backdrop { border-color: titlebar_color(backdrop_bg); }
  }
  &:focus,
  &:active, 
  &:checked:active {
    @include button(active);
    &:hover {
	  @include button(active-hover);
    }
    &:backdrop {
      background-image: none;
      background-color: titlebar_color(backdrop_bg);
      border-color: titlebar_color(backdrop_bg);
      color: titlebar_color(backdrop_fg);
    }
  }
  &:checked { 
      background-image: none;
      color: titlebar_color(fg);
      border-color: gtkmix(titlebar_color(fg), titlebar_color(bg_color), 0.75); // same mix as border
      background-color: gtkmix(titlebar_color(fg), titlebar_color(bg_color), 0.75);
      &:hover {
        @include button(active-hover);
        }
      &:insensitive {
        color: button_color(disabled_fg);
        background-color: border_color(disabled);
        border-color: border_color(disabled);
      }
      &:backdrop {
        background-image: none;
        background-color: titlebar_color(backdrop_bg);
        border-color: titlebar_color(backdrop_bg);
        color: titlebar_color(backdrop_fg);
      }
  }
  &:insensitive {
    @extend %undecorated_button;
    color: titlebar_color(disabled_fg);
    &:active, &:checked {
      @include button(insensitive-active);
      box-shadow: none;
    }
  }
  &:backdrop {
    background-color: titlebar_color(backdrop_bg);
    color: titlebar_color(backdrop_fg);
    }
  &.flat:backdrop, &.flat:backdrop:insensitive, &:insensitive:backdrop {
    background-image: none;
    background-color: titlebar_color(backdrop_bg);
    color: titlebar_color(backdrop_fg);
    border-color: transparent;
    }
  &.flat:insensitive {
    @extend %undecorated_button;
    color: titlebar_color(disabled_fg);
    }
  &.image-button { padding:4px; }
}

  .title {
    font-weight: normal;
    padding: 0px 12px;
  }

  .subtitle {
    font-size: smaller;
    padding: 0 12px;
    @extend .dim-label;
  }

  .header-bar-separator,
  & > GtkBox > .separator.vertical {
    -GtkWidget-wide-separators: true;
    -GtkWidget-separator-width: 1px;
    border-width: 0px;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
  }
  &.selection-mode {

    @extend .info;

    .subtitle:link { @extend *:link:selected;  }

    .selection-menu {
      padding-left: 10px;
      padding-right: 10px;

      GtkArrow { -GtkArrow-arrow-scaling: 1; }

      .arrow {
        -gtk-icon-source: -gtk-icontheme('arrow-down');
        icon-shadow: none;
      }
    }
  }

  .tiled &, .maximized & {
    border-radius: 0; // squared corners when the window is max'd or tiled
  }

  &.default-decoration {
    padding: 4px;
    .button { padding: 5px; }
  }
}



.header-bar,
.titlebar,
.titlebar .header-bar,
.header-bar.titlebar {
    // add vertical margins to headerbar entries, buttons and separators to avoid them spanning the whole height
  
  .entry,
  .spinbutton,
  .separator,
  .button {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.header-bar {
  padding: 4px 3px;
  background-color: window_color(bg);
  .button,
  .button:backdrop {
    padding: 6px;
    @include button(undecorated);
    transition: none;
    &:hover {
      background-image: none;
      @include button(hover);
      &:active { @include button(active-hover); }
    }
    &:checked { background-color: border_color();}
    &:checked:hover { @include button(active-hover); }
    &:insensitive { color: button_color(disabled_fg);}
  }
}
