.header-bar {
    // add vertical margins to headerbar entries, buttons and separators to avoid them spanning the whole height
  padding: 4px 3px;
  background-color: window_color(bg);
  .entry,
  .spinbutton,
  .separator,
  .button {
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .button,
  .button:backdrop {
    padding: 6px;
    @include button(undecorated);
    transition: none;
    &:hover {
      background-image: none;
      @include button(hover);
      &:active { @include button(active-hover); }
    }
    &:checked { 
      background-color: border_color();
      &:hover { @include button(active-hover);}
    }
    &:insensitive { color: button_color(disabled_fg);}
  }

  .button .titlebutton {
    padding: 6px;
  }

  .title {
    font-weight: normal;
    font-size: 0;
    padding: 0px 12px;
    color: window_color(bg);
    // &:backdrop { color: window_color(backdrop_fg)}
  }

  .subtitle {
    font-size: normal;
    padding: 0 12px;
    color: window_color(fg);
    // &:backdrop { color: window_color(backdrop_fg)}
  }
}