/**************
 * GtkInfoBar *
 **************/
GtkInfoBar {
  border-style: none;
  border-bottom: 1px solid border_color();
  background-color: window_color(bg);
  background-image: none;
}

.info,
.question,
.warning,
.error {
  background-color: window_color(bg);
  background-image: none;
  color: other_colors(warning);
  text-shadow: none;
  .button {
    box-shadow: none;
    background-image:none;
    background-color: gtkalpha(other_colors(warning), 0.5);
    border-color: gtkalpha(other_colors(warning), 0.5);
    color: button_color(fg);
    &:hover {
      background-color: gtkalpha(other_colors(warning), 0.75);
      border-color: other_colors(warning);
    }
    &:active, &:checked, &:active:hover, &:focus:hover {
      background-color: other_colors(warning);
      color: window_color(fg);
      border-color: other_colors(warning);
      background-image: none;
    }
    &:insensitive {
      background-color: window_color(bg);
      border-color: window_color(bg);
      color: window_color(disabled_fg);
    }
  }
}
