/*********
 * Lists *
 *********/

.list, .list-row {
  background-color: window_color(bg);
  color: window_color(fg);
  border-width: 0px;
}

.list-row,
.grid-child {
  padding: 0px 2px;
  border-style: solid;
  border-width: 0px;
  border-color: window_color(bg);
}

// .list-row.button,
// .list-row.button:backdrop,
// .list-row.button:backdrop:active,
// .list-row.button:backdrop:checked,
// .list-row.button:backdrop:insensitive,
// .list-row.button:backdrop:insensitive:active,
// .list-row.button:backdrop:insensitive:checked,
// .list-row.button:insensitive:active,
// .list-row.button:insensitive:checked {
//   // reset button inherited stuff
//   @extend %undecorated_button;
//   background-color: gtkalpha(view_color(bg),1); // for the transition
//   border-style: none; // I need no borders here
//   border-radius: 0;   // and no rounded corners
//   box-shadow: none;   // and no box-shadow

// }

.list-row,
.list-row.button {
  background-color: window_color(bg);
  &:hover {
    background-color: gtkalpha(button_color(hover), 0.75);
  }
  &:active {
    background-color: selection_color(bg);
    color: selection_color(fg);
    box-shadow: none;
  }
  &:selected,
  &:selected:hover {
    @extend %selected_items;
  }
}

// transition
.list-row, .list-row.button {
  transition: all 300ms $ease-out-quad;
  &:hover { transition: none; }
}
