/************
 * Pathbars *
 ************/

// .path-bar .button {
//   @include button(undecorated);
//   padding: 4px 8px;
//   color: window_color(fg);
//   &:hover {border-color: button_color(hover); }
//   &:active, &:checked {
//     background-color: border_color();
//     }
//   &:first-child { padding-left: 8px; }
//   &:last-child { padding-right: 8px; }
//   &:only-child {
//     padding-left: 12px;
//     padding-right: 12px;
//   }

//   // the following is for spacing the icon and the label inside the home button
//   .label:last-child { padding-left: 2px; }
//   .label:first-child { padding-right: 2px; }
//   .label:only-child { padding-right: 0; padding-left: 0; }
//   GtkImage { padding-top: 1px; }
// }

.path-bar .button {
  @include button(undecorated);
  border: none;
  padding: 4px 6px;
  color: window_color(fg);
  background-image: none;
  &:hover, &:checked:hover, &:active:hover {
    background-image: none;
    background-color: gtkalpha(selection_color(bg),0.9);
    border: none;
  }
  &:active, 
  &:checked { 
    font-weight: bold; 
    background-color: window_color(bg);
  }
  &.text-button.image-button label {
    padding-left: 0;
    padding-right: 0;
  }

  &.text-button.image-button, & {
    .label:last-child { padding-left: 6px; }
    .label:first-child { padding-right: 6px; }
  }

  // GtkImage {
  //   padding-left: 4px;
  //   padding-right: 4px;
  // }
  

}