/*****************
 * Progress bars *
 *****************/

GtkProgressBar {
  padding: 0;
  font-size: smaller;
  color: gtkalpha(button_color(fg),0.7);
  box-shadow: none;     
  &.osd {
    -GtkProgressBar-xspacing: 0;
    -GtkProgressBar-yspacing: 0;
    -GtkProgressBar-min-horizontal-bar-height: 6;
  }
  &.trough {  // background
    border: 0px solid transparent;
    border-radius: $r;
    background-color: gtkalpha(button_color(fg),0.7);
    &.osd {
      border: 0px solid transparent;
      border-radius: $r;
      background-color: gtkalpha(button_color(fg),0.7);
    }
  }
}

// moving bit
.progressbar {
  background-color: selection_color(bg);
  border: 0px solid selection_color(bg);
  border-radius: 0px;
  box-shadow: none; //needed for clipping
  &.left {
    border-top-left-radius: $r;
    border-bottom-left-radius: $r;
  }
  &.right {
    border-top-right-radius: $r;
    border-bottom-right-radius: $r;
  }
  &.left.right {
    box-shadow: none;
  }
  &.vertical {

    &.bottom {
      border-bottom-left-radius: $r;
      border-bottom-right-radius: $r;
      box-shadow: none;
    }
    &.top {
      border-top-left-radius: $r;
      border-top-right-radius: $r;
    }
  }

  &.osd {
    background-image: none;
    background-color: selection_color(bg);
    border: 0px solid selection_color(bg);
    border-radius: $r;
  }
}

/*************
 * Level Bar *
 *************/

.level-bar.vertical {
  -GtkLevelBar-min-block-width: 6;
  -GtkLevelBar-min-block-height: 34;
}

.level-bar {
  box-shadow: none; // needs to be set here to avoid clipping
  -GtkLevelBar-min-block-width: 34;
  -GtkLevelBar-min-block-height: 6;
  &.vertical {
    -GtkLevelBar-min-block-width: 6;
    -GtkLevelBar-min-block-height: 34;
  }
  &.trough {
    border: 0px solid transparent;
    padding: 3px;
    border-radius: $r;
    background-color: transparent;;
  }
  &.fill-block {
    // FIXME: it would be nice to set make fill blocks bigger, but we'd need
    // :nth-child working on discrete indicators
    border: 0px solid selection_color(bg);
    background-color: selection_color(bg);
    box-shadow: none;
    border-radius: $r;

    &.indicator-discrete {
      &.horizontal { margin: 0 1px; }
      &.vertical { margin: 1px 0; }
    }
    &.level-high {
      border-color: other_colors(success);
      background-color: other_colors(success);
    }
    &.level-low {
      border-color: other_colors(warning);
      background-color: other_colors(warning);
    }
    &.empty-fill-block {
      background-color: gtkalpha(button_color(fg),0.7);
      border-color: transparent;
      box-shadow: none;
    }
  }
}
