/************
 * GtkScale *
 ************/
.scale,
.scale.scale-has-marks-above.scale-has-marks-below,
.scale.vertical.scale-has-marks-above.scale-has-marks-below {
  -GtkScale-slider-length: 18;
  -GtkRange-slider-width: 18;
  -GtkRange-trough-border: 2;

  &.fine-tune {
    &.trough {
      margin: 8px;
      border-radius: $r;
    }
  }

  &.slider {
    background-image: button_color(bg);
    border: 1px solid border_color();
    border-radius: 50%;
    box-shadow: none;
    &:hover {
      border-style: solid;
  	  border-width: 1px;
      border-color: button_color(hover);
      border-radius: 50%; // needed for double marks scales
    }
    &:insensitive {
      border-style: solid; // needed for double marks scales or they'll get
      border-radius: 50%;  // overridden
      background-image: button_color(disabled_bg);
      border-color: border_color(disabled);
    }
    &:active {
      border: 1px solid button_color(hover);
    }
    &:focus {
      border: 1px solid button_color(active);
    }
  }
  &.trough {
    margin: 8px;
    border: 0px solid gtkalpha(button_color(fg),0.7);
    border-radius: $r;
    background-color: gtkalpha(button_color(fg),0.7);
    box-shadow: none;
    &.highlight {
      background-color: selection_color(bg);
      border-color: selection_color(bg);
      &.vertical {
        background-color: selection_color(bg);
        border-color: selection_color(bg);
      }
    }
    &:insensitive, &.vertical:insensitive {
      border-color: gtkalpha(button_color(disabled_fg),0.7);
      background-color: gtkalpha(button_color(disabled_fg),0.7);
      box-shadow: none;
    }
  }
}
