@mixin _border($name, $width: 1px 1px 2px 1px, $image-width: 2 2 3 2 / 2px 2px 3px 2px) {
  border-image: -gtk-scaled(url("../assets/#{$name}.png"),url("../assets/#{$name}@2.png")) $image-width stretch;
  border-width: $width;
  border-style: solid;
  border-color: transparent;
}

/**************
 * Scrollbars *
 **************/

.scrollbar {
  -GtkRange-trough-border: 0;
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  -GtkRange-slider-width: 20;
  -GtkScrollbar-min-slider-length: 64;
  -GtkRange-stepper-spacing: 0;
  -GtkRange-trough-under-steppers: 1;

  &.dragging,
  &.hovering {
    background: none;
    border: none;
  }
  .button {
	@extend %undecorated_button;
  color: button_color(fg);
	&:hover {
    @extend %undecorated_button;
		color: button_color(hover);
		}
	&:insensitive { color: button_color(disabled_fg); }
	}

  &:hover {
    &.trough {
      background-clip: padding-box;
      background-color: other_colors(trough);
      border: 7px solid transparent;
      border-radius: 10px;
    }
  }

  &.slider {
    background-clip: padding-box;
    background-color: other_colors(scrollbar);
    border: 7px solid transparent;
    border-radius: 10px;
    &:hover {
      background-color: button_color(hover);
    }
    &:active {
      background-color: button_color(hover);
    }
    &:focus {
      background-color: button_color(active);
    }
  }
}

.scrollbars-junction,
.scrollbars-junction.frame { // the small square between two scrollbars
  border-color: transparent;
  background-color: transparent;
  border-image: none;
}
