/***********
 * Sidebar *
 ***********/

.sidebar,
.sidebar .view {
  border: none;
  background-color: window_color(bg);
  &:selected {
    @extend %selected_items;
  }
}

GtkSidebarRow {
  // Needs overriding of the GtkListBoxRow padding
  &.list-row {
    padding: 0px;
  }
  // Using margins/padding directly in the SidebarRow
  // will make the animation of the new bookmark row jump
  .sidebar-revealer {
    padding: 0px 14px 0px 12px;
  }
  .sidebar-icon {
    
    &:dir(ltr) { 
      padding-top:0px;
      padding-right: 8px; 
    }
    &:dir(rtl) { padding-left: 8px; }
  }
  .sidebar-label {
    &:dir(ltr) { padding-right: 2px; }
    &:dir(rtl) { padding-left: 2px; }
  }
}

// Places sidebar is a special case, since the view here have to look like chrome not content, so we override text color
// GtkPlacesSidebar.sidebar .view {
// //  color: window_color(fg);
// //  background-color: transparent;
//   &:insensitive { color: window_color(disabled_fg); }
//   &:selected { @extend %selected_items; }
//   .separator,
//   .separator:backdrop { @extend .separator; }
//   .image { // icons color
//     color: window_color(fg);
//     &:selected {
//         color: selection_color(fg);
//     }
//     &:insensitive { color: window_color(disabled_fg); }
//   }
// }

.sidebar-item {
  padding: 6px 4px;
  > .label {
    padding-left: 6px;
    padding-right: 6px;
  }
  &.needs-attention {
    @extend %needs_attention;
  }
}
