/************
 * Toolbars *
 ************/
.toolbar,
.primary-toolbar {
  -GtkWidget-window-dragging: true;
  padding: 4px;
  background-color: window_color(bg);
  .osd &, &.osd {
    padding: 4px;
    border: none;
    border-radius: $r;
    background-color: window_color(bg);
  }
}

//searchbar, location-bar & inline-toolbar
.inline-toolbar {
  @extend .toolbar;
  @extend %inset-bar;
  border-width: 0px 0px 1px 0px;
  padding: 3px;
  border-radius: 0;
}
.search-bar, .location-bar {
  @extend .toolbar;
  @extend %inset-bar;
  border-width: 0px 0px 1px 0px;
  padding: 3px;
}

%inset-bar {
  border-style: solid;
  border-color: border_color();
  text-shadow: none;
  background-color: window_color(bg);
}
