/************
 * Tooltips *
 ************/

.tooltip {
  &.background {
    // background-color needs to be set this way otherwise it gets drawn twice
    // see https://bugzilla.gnome.org/show_bug.cgi?id=736155 for details.
    background-color: tooltip_color(bg);
    background-clip: padding-box;
  }

  color: tooltip_color(fg);
  padding: 0px; /* not working */
  border-radius: 0px;
  box-shadow: none; // otherwise it gets inherited by windowframe.csd
  text-shadow: none;
  // FIXME: we need a border or tooltips vanish on black background.
  &.window-frame.csd {
    background-color: transparent;
  }
}

.tooltip * { //Yeah this is ugly
  padding: 0px;
  background-color: transparent;
  color: inherit; // just to be sure
}
