//
// Theme color functions
//

@function button_gradient($c1, $c2) {
  @return unquote("linear-gradient(to bottom,#{$c1},#{$c2})");
}

// Button Color
@function button_color($c: bg) {
  @if $c == bg {
    @return button_gradient("@button_bg_a", "@button_bg_b");
  }
  @if $c == bg_color {
    @return unquote("@button_bg_color");
  }
  @if $c == disabled_bg_color {
    @return unquote("@button_dis_bg_color");
  }
  @if $c == backdrop_bg_color {
    @return unquote("@button_bd_bg_color");
  }
  @if $c == fg {
    @return unquote("@button_fg");
  }
  @if $c == hover {
    @return unquote("@button_hover");
  }
  @if $c == active {
    @return unquote("@button_active");
  }
  @if $c == backdrop_active {
    @return unquote("@button_bd_active");
  }
  @if $c == disabled_active {
    @return unquote("@button_dis_active_bg_a");
  }
  @if $c == backdrop_disabled_active {
    @return unquote("@button_bd_dis_active_bg_a");
  }
  @if $c == active_bg {
    @return button_gradient("@button_active_bg_a", "@button_active_bg_b");
  }
  @if $c == active_fg {
    @return unquote("@selection_fg");
  }
  @if $c == active_hover {
    @return button_gradient("@button_active_hover_a", "@button_active_hover_b");
  }
  @if $c == disabled_bg {
    @return button_gradient("@button_dis_bg_a", "@button_dis_bg_b");
  }
  @if $c == disabled_fg {
    @return unquote("@button_dis_fg");
  }
  @if $c == disabled_active_bg {
    @return button_gradient("@button_dis_active_bg_a", "@button_dis_active_bg_b");
  }
  @if $c == disabled_active_fg {
    @return unquote("@selection_dis_fg");
  }
  @if $c == backdrop_bg {
    @return button_gradient("@button_bd_bg_a", "@button_bd_bg_b");
  }
  @if $c == backdrop_fg {
    @return unquote("@button_bd_fg");
  }
  @if $c == backdrop_active_bg {
    @return button_gradient("@button_bd_active_bg_a", "@button_bd_active_bg_b");
  }
  @if $c == backdrop_active_fg {
    @return unquote("@selection_bd_fg");
  }
  @if $c == backdrop_disabled_bg {
    @return button_gradient("@button_bd_dis_bg_a", "@button_bd_dis_bg_b");
  }
  @if $c == backdrop_disabled_fg {
    @return unquote("@button_bd_dis_fg");
  }
  @if $c == backdrop_disabled_active_bg {
    @return button_gradient("@button_bd_dis_active_bg_a", "@button_bd_dis_active_bg_b");
  }
  @if $c == backdrop_disabled_active_fg {
    @return unquote("@selection_bd_dis_fg");
  }
}

// Selection Color
@function selection_color($c: bg) {
  @if $c == bg {
    @return unquote("@selection_bg");
  }
  @if $c == fg {
    @return unquote("@selection_fg");
  }
  @if $c == hover {
    @return unquote("@selection_hover");
  }
  @if $c == disabled_fg {
    @return unquote("@selection_dis_fg");
  }
  @if $c == disabled_bg {
    @return unquote("@selection_dis_bg");
  }
  @if $c == backdrop_bg {
    @return unquote("@selection_bd_dis_bg");
  }
  @if $c == backdrop_fg {
    @return unquote("@selection_bd_fg");
  }
  @if $c == backdrop_disabled_bg {
    @return unquote("@selection_bd_dis_bg");
  }
  @if $c == backdrop_disabled_fg {
    @return unquote("@selection_bd_dis_fg");
  }
}

// View Color
@function view_color($c: bg) {
  @if $c == bg {
    @return unquote("@view_bg");
  }
  @if $c == fg {
    @return unquote("@view_fg");
  }
  @if $c == hover {
    @return unquote("@view_hover");
  }
  @if $c == active {
    @return unquote("@view_active");
  }
  @if $c == disabled_bg {
    @return unquote("@view_dis_bg");
  }
  @if $c == disabled_fg {
    @return unquote("@view_dis_fg");
  }
  @if $c == backdrop_bg {
    @return unquote("@view_bd_bg");
  }
  @if $c == backdrop_fg {
    @return unquote("@view_bd_fg");
  }
  @if $c == backdrop_disabled_bg {
    @return unquote("@view_bd_dis_bg");
  }
  @if $c == backdrop_disabled_fg {
    @return unquote("@view_bd_dis_fg");
  }
}

// Window Color
@function window_color($c: bg) {
  @if $c == bg {
    @return unquote("@window_bg");
  }
  @if $c == fg {
    @return unquote("@window_fg");
  }
  @if $c == disabled_bg {
    @return unquote("@window_dis_bg");
  }
  @if $c == disabled_fg {
    @return unquote("@window_dis_fg");
  }
  @if $c == backdrop_bg {
    @return unquote("@window_bd_bg");
  }
  @if $c == backdrop_fg {
    @return unquote("@window_bd_fg");
  }
  @if $c == backdrop_disabled_bg {
    @return unquote("@window_bd_dis_bg");
  }
  @if $c == backdrop_disabled_fg {
    @return unquote("@window_bd_dis_fg");
  }
}

// Titlebar color
@function titlebar_color($c: bg) {
  @if $c == bg {
    @return button_gradient("@titlebar_bg_a", "@titlebar_bg_b");
  }
  @if $c == bg_color {
    @return unquote("@titlebar_bg_b"); //FIXME should be titlebar_bg
  }
  @if $c == fg {
    @return unquote("@titlebar_fg");
  }
  @if $c == backdrop_bg {
    @return unquote("@titlebar_bd_bg");
  }
  @if $c == backdrop_fg {
    @return unquote("@titlebar_bd_fg");
  }
  @if $c == disabled_bg {
    @return unquote("@titlebar_dis_bg");
  }
  @if $c == disabled_fg {
    @return unquote("@titlebar_dis_fg");
  }
}

@function tooltip_color($c: bg) {
  @if $c == bg {
    @return unquote("@tooltip_bg");
  }
  @if $c == fg {
    @return unquote("@tooltip_fg");
  }
}

@function border_color($c: '') {
  @if $c == '' {
    @return unquote("@borders");
  }
  @if $c == disabled {
    @return unquote("@borders_dis");
  }
  @if $c == backdrop {
    @return unquote("@borders_bd");
  }
  @if $c == backdrop_disabled {
    @return unquote("@borders_bd_dis");
  }
} 

@function other_colors($c) {
  @if $c == menu {
    @return unquote("@menu_color");
  }
  @if $c == backdrop_menu {
    @return unquote("@menu_bd_color");
  }
  @if $c == link {
    @return unquote("@link_color");
  }
  @if $c == backdrop_link {
    @return unquote("@link_bd_color");
  }
  @if $c == link_visited {
    @return unquote("@link_visited_color");
  }
  @if $c == warning {
    @return unquote("@warning_color");
  }
  @if $c == backdrop_warning {
    @return unquote("@warning_bd_color");
  }
  @if $c == error {
    @return unquote("@error_color");
  }
  @if $c == backdrop_error {
    @return unquote("@error_bd_color");
  }
  @if $c == success {
    @return unquote("@success_color");
  }
  @if $c == backdrop_success {
    @return unquote("@success_bd_color");
  }
  @if $c == destructive {
    @return unquote("@error_color");
  }
  @if $c == trough {
    @return unquote("@trough_color");
  }
  @if $c == disabled_trough {
    @return unquote("@trough_dis_color");
  }
  @if $c == backdrop_trough {
    @return unquote("@trough_bd_color");
  }
  @if $c == backdrop_disabled_trough {
    @return unquote("@trough_bd_dis_color");
  }
  @if $c == scrollbar {
    @return unquote("@scrollbar_color");
  }
}

@function gtkalpha($c,$a) {
  @return unquote("alpha(#{$c},#{1-$a})");
}

@function gtkmix($c1,$c2,$a) {
  @return unquote("mix(#{$c1},#{$c2},#{$a})");
}

$r: 3px;
