/* GTK NAMED COLORS
   ----------------
   use responsibly! */
/* widget text/foreground color */
@define-color theme_fg_color @window_fg;
/* text color for entries, views and content in general */
@define-color theme_text_color @view_fg;
/* widget base background color */
@define-color theme_bg_color @window_bg;
/* text widgets and the like base background color */
@define-color theme_base_color @view_bg;
/* base background color of selections */
@define-color theme_selected_bg_color @selection_bg;
/* text/foreground color of selection_colors */
@define-color theme_selected_fg_color @selection_fg;
/* base background color of insensitive widgets */
@define-color insensitive_bg_color @window_dis_bg;
/* text foreground color of insensitive widgets */
@define-color insensitive_fg_color @window_dis_fg;
/* insensitive text widgets and the like base background color */
@define-color insensitive_base_color @view_dis_bg;
/* insensitive text widgets and the like base background color */
@define-color insensitive_text_color @view_dis_fg;
/* widget text/foreground color on backdrop windows */
@define-color theme_unfocused_fg_color @window_bd_fg;
/* text color for entries, views and content in general on backdrop windows */
@define-color theme_unfocused_text_color @view_bd_fg;
/* widget base background color on backdrop windows */
@define-color theme_unfocused_bg_color @window_bd_bg;
/* text widgets and the like base background color on backdrop windows */
@define-color theme_unfocused_base_color @view_bd_bg;
/* base background color of selection_colors on backdrop windows */
@define-color theme_unfocused_selected_bg_color @selection_bd_dis_bg;
/* text/foreground color of selection_colors on backdrop windows */
@define-color theme_unfocused_selected_fg_color @selection_bd_fg;
/* widgets main borders color on backdrop windows */
@define-color unfocused_borders @borders_bd;
@define-color content_view_bg @view_bg;
* {
  padding: 0;
  -GtkToolButton-icon-spacing: 4;
  -GtkTextView-error-underline-color: @error_color;
  -GtkButton-child-displacement-x: 1;
  -GtkButton-child-displacement-y: 1;
  -GtkCheckButton-indicator-size: 20;
  -GtkCheckMenuItem-indicator-size: 20;
  -GtkScrolledWindow-scrollbar-spacing: 0;
  -GtkScrolledWindow-scrollbars-within-bevel: 1;
  -GtkToolItemGroup-expander-size: 11;
  -GtkExpander-expander-size: 16;
  -GtkTreeView-expander-size: 11;
  -GtkTreeView-horizontal-separator: 4;
  -GtkMenu-horizontal-padding: 0;
  -GtkMenu-vertical-padding: 0;
  -GtkWidget-link-color: @link_color;
  -GtkWidget-visited-link-color: @link_visited_color;
  -GtkWidget-focus-padding: 2;
  -GtkWidget-focus-line-width: 1;
  -GtkWidget-text-handle-width: 20;
  -GtkWidget-text-handle-height: 20;
  -GtkDialog-button-spacing: 4;
  -GtkDialog-action-area-border: 0;
  -GtkStatusbar-shadow-type: none;
  outline-width: 0px; }

/***************
 * Base States *
 ***************/
.background {
  color: @window_fg;
  background-color: @window_bg; }

/*
   These wildcard seems unavoidable, need to investigate.
   Wildcards are bad and troublesome, use them with care,
   or better, just don't.
   Everytime a wildcard is used a kitten dies, painfully.
*/
*:insensitive {
  -gtk-image-effect: dim; }

.gtkstyle-fallback {
  background-color: @window_bg;
  color: @window_fg; }
  .gtkstyle-fallback:prelight {
    background-color: @selection_hover;
    color: @window_fg; }
  .gtkstyle-fallback:active {
    background-color: @selection_bg;
    color: @window_fg; }
  .gtkstyle-fallback:insensitive {
    background-color: @window_dis_bg;
    color: @window_dis_fg; }
  .gtkstyle-fallback:selected {
    background-color: @selection_bg;
    color: @selection_fg; }

.view {
  color: @view_fg;
  background-color: @view_bg; }
  .view:hover {
    background-color: alpha(@selection_bg,0.25); }
  .view:selected {
    border-radius: 3px; }

.rubberband {
  border: 1px solid @selection_bg;
  background-color: alpha(@selection_bg,0.2); }

.label.separator {
  color: @window_fg; }

.label:insensitive {
  color: @window_dis_fg; }

.dim-label, .label.separator, .titlebar .subtitle,
.titlebar .header-bar .subtitle,
.header-bar.titlebar .subtitle {
  opacity: 0.5;
  text-shadow: none; }

GtkAssistant .sidebar {
  background-color: @view_fg;
  border-top: 1px solid @borders; }
  GtkAssistant .sidebar:dir(ltr) {
    border-right: 1px solid @borders; }
  GtkAssistant .sidebar:dir(rtl) {
    border-left: 1px solid @borders; }
  GtkAssistant .sidebar:backdrop {
    background-color: @view_bd_fg;
    border-color: @borders_bd; }

GtkAssistant.csd .sidebar {
  border-top-style: none; }

GtkAssistant .sidebar .label {
  padding: 6px 12px; }

GtkAssistant .sidebar .label.highlight {
  background-color: @selection_bg; }

GtkTextView {
  background-color: alpha(@view_bg,0.5); }

.grid-child {
  padding: 3px;
  border-radius: 3px; }

.app-notification,
.app-notification.frame, .popover.osd, .osd {
  color: @window_fg;
  border: 1px solid @window_bg;
  background-color: alpha(@window_bg,0.8);
  background-clip: padding-box;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none; }

.view:selected, .label:selected, .label:selected:focus, .label:selected:hover, .grid-child:selected, .entry:selected, .entry:selected:focus, .list-row:selected, .list-row:selected:hover,
.list-row.button:selected,
.list-row.button:selected:hover, .sidebar:selected,
.sidebar .view:selected {
  background-color: @selection_bg;
  color: @selection_fg; }

/***********
 * Buttons *
 ***********/
@keyframes needs_attention {
  from {
    background-color: transparent;
    color: @warning_color; }
  to {
    background-color: alpha(@warning_color,0.3);
    color: @warning_color; } }

.button, .button.osd, .osd .button {
  margin: 2px;
  border: 1px solid;
  border-radius: 3px;
  padding: 6px;
  background-clip: border-box;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  icon-shadow: none;
  color: @button_fg;
  border-color: @borders;
  background-color: transparent;
  background-image: linear-gradient(to bottom,@button_bg_a,@button_bg_b); }
  .flat.button {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: @button_fg;
    text-shadow: none;
    icon-shadow: none;
    transition: none; }
    .flat.button:hover {
      transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition-duration: 200ms; }
      .flat.button:hover:active {
        transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    .flat.button:checked {
      background-color: @borders; }
  .button:hover {
    color: @button_fg;
    border-color: @button_hover;
    -gtk-image-effect: highlight; }
  .button:active, .button:active:checked, .button:focus, .button:focus:checked {
    color: @selection_fg;
    border-color: @button_active;
    background-color: transparent;
    background-image: linear-gradient(to bottom,@button_active_bg_a,@button_active_bg_b);
    transition-duration: 10ms; }
    .button:active:hover, .button:active:checked:hover, .button:focus:hover, .button:focus:checked:hover {
      color: @button_fg;
      border-color: @button_hover;
      background-color: transparent;
      background-image: linear-gradient(to bottom,@button_active_hover_a,@button_active_hover_b); }
  .button:checked {
    background-image: none;
    background-color: @borders; }
    .button:checked:hover {
      transition: none;
      color: @button_fg;
      border-color: @button_hover;
      background-color: transparent;
      background-image: linear-gradient(to bottom,@button_active_hover_a,@button_active_hover_b); }
  .flat.button:insensitive {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: @button_fg;
    text-shadow: none;
    icon-shadow: none;
    color: @button_dis_fg; }
  .button:insensitive {
    color: @button_dis_fg;
    border-color: @borders_dis;
    background-color: transparent;
    background-image: linear-gradient(to bottom,@button_dis_bg_a,@button_dis_bg_b); }
    .button:insensitive > .label, .osd .button:insensitive > .label {
      color: inherit; }
    .button:insensitive:active {
      color: @selection_dis_fg;
      border-color: @button_dis_active_bg_a;
      background-color: transparent;
      background-image: linear-gradient(to bottom,@button_dis_active_bg_a,@button_dis_active_bg_b); }
      .button:insensitive:active > .label, .osd .button:insensitive:active > .label {
        color: inherit; }
    .button:insensitive:checked {
      background-image: none;
      background-color: @borders_dis;
      color: @button_dis_fg; }
  .button:active {
    color: @button_fg; }

.button.destructive-action,
.button.destructive-action.osd .button {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  icon-shadow: none;
  color: @selection_fg;
  border-color: @error_color;
  background-color: @error_color;
  background-image: none; }
  .button.destructive-action.flat,
  .button.destructive-action.osd .button.flat {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: @button_fg;
    text-shadow: none;
    icon-shadow: none;
    color: @error_color; }
  .button.destructive-action:hover,
  .button.destructive-action.osd .button:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: none;
    icon-shadow: none;
    color: @button_fg;
    border-color: alpha(@error_color,0.5);
    background-color: alpha(@error_color,0.5);
    background-image: none; }
  .button.destructive-action:active, .button.destructive-action:checked,
  .button.destructive-action.osd .button:active,
  .button.destructive-action.osd .button:checked {
    color: @selection_fg;
    border-color: @error_color;
    background-color: @error_color;
    background-image: none; }
  .button.destructive-action.flat:insensitive,
  .button.destructive-action.osd .button.flat:insensitive {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: @button_fg;
    text-shadow: none;
    icon-shadow: none;
    color: alpha(@error_color,0.8); }
  .button.destructive-action:insensitive,
  .button.destructive-action.osd .button:insensitive {
    color: @button_dis_fg;
    border-color: @borders_dis;
    background-color: transparent;
    background-image: linear-gradient(to bottom,@button_dis_bg_a,@button_dis_bg_b); }
    .button.destructive-action:insensitive > .label,
    .button.destructive-action.osd .button:insensitive > .label {
      color: inherit; }
    .button.destructive-action:insensitive:active, .button.destructive-action:insensitive:checked,
    .button.destructive-action.osd .button:insensitive:active,
    .button.destructive-action.osd .button:insensitive:checked {
      color: @selection_dis_fg;
      border-color: @error_color;
      background-color: @error_color;
      background-image: none; }
      .button.destructive-action:insensitive:active > .label, .button.destructive-action:insensitive:checked > .label,
      .button.destructive-action.osd .button:insensitive:active > .label,
      .button.destructive-action.osd .button:insensitive:checked > .label {
        color: inherit; }

.inline-toolbar .button, .inline-toolbar .button:backdrop {
  border-radius: 3px;
  border-width: 1px; }

.primary-toolbar .button {
  icon-shadow: none; }

/**************
 * ComboBoxes *
 **************/
GtkComboBox {
  -GtkComboBox-arrow-scaling: 0.5;
  -GtkComboBox-shadow-type: none; }
  GtkComboBox > .button {
    padding: 4px; }

.stack-switcher > .button.needs-attention, .sidebar-item.needs-attention {
  background-image: none;
  background-color: alpha(@warning_color,0.3);
  color: @warning_color; }
  .stack-switcher > .button.needs-attention:hover, .sidebar-item.needs-attention:hover {
    background-color: alpha(@warning_color,0.4);
    border-color: alpha(@warning_color,0.4); }
  .stack-switcher > .button.needs-attention:active, .sidebar-item.needs-attention:active {
    background-image: none;
    background-color: @warning_color;
    border-color: @warning_color;
    color: @selection_fg; }

.app-notification .button.flat,
.app-notification.frame .button.flat, .app-notification .button.flat:hover,
.app-notification.frame .button.flat:hover, .app-notification .button.flat:active,
.app-notification.frame .button.flat:active, .app-notification .button.flat:insensitive,
.app-notification.frame .button.flat:insensitive, GtkCalendar.button, GtkCalendar.button:focus, GtkCalendar.button:hover, GtkCalendar.button:focus:hover, GtkCalendar.button:active, GtkCalendar.button:focus:active, .titlebar .button:insensitive,
.titlebar .header-bar .button:insensitive,
.header-bar.titlebar .button:insensitive, .titlebar .button.flat:insensitive,
.titlebar .header-bar .button.flat:insensitive,
.header-bar.titlebar .button.flat:insensitive, .button:link, .button:visited, .button:link:hover, .button:link:active, .button:link:checked, .button:visited:hover, .button:visited:active, .button:visited:checked, .button:link:backdrop, .button:visited:backdrop, .menuitem.button.flat, .scale-popup .button,
.scale-popup .button.flat, .scrollbar .button, .scrollbar .button:hover {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  icon-shadow: none; }

/****************
 * Text Entries *
 ****************/
.entry {
  border: 1px solid;
  padding: 6px 8px;
  border-radius: 3px;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: @view_fg;
  border-color: @borders;
  background-color: @view_bg;
  box-shadow: none; }
  .entry.image.left {
    padding-left: 0; }
  .entry.image.right {
    padding-right: 0; }
  .entry.flat, .entry.flat:focus {
    padding: 2px;
    color: @view_fg;
    border-color: @borders;
    background-color: @view_bg;
    box-shadow: none;
    border: none;
    border-radius: 0; }
  .entry:focus {
    border-color: @view_active; }
  .entry:insensitive {
    color: @view_dis_fg;
    border-color: @borders_dis;
    background-color: @view_dis_bg; }
  .entry.progressbar {
    margin: 1px;
    border-radius: 0;
    border-width: 0 0 2px;
    border-color: @selection_bg;
    border-style: solid;
    background-image: none;
    background-color: transparent;
    box-shadow: none; }
  .entry.error {
    color: @error_color;
    border-color: @error_color;
    background-color: alpha(@error_color,0.5); }
    .entry.error:focus {
      border-color: @error_color;
      background-color: alpha(@error_color,0.5); }
    .entry.error:selected, .entry.error:selected:focus {
      background-color: @error_color; }
  .entry.warning {
    color: @warning_color;
    border-color: @warning_color;
    background-color: alpha(@warning_color,0.5); }
    .entry.warning:focus {
      border-color: @warning_color;
      background-color: alpha(@warning_color,0.5); }
    .entry.warning:selected, .entry.warning:selected:focus {
      background-color: @warning_color; }
  .entry .image {
    color: @view_fg; }
    .entry .image:hover {
      color: @view_hover; }
    .entry .image:active {
      color: @view_active; }
    .entry .image:backdrop {
      color: @view_bd_fg; }

/*********************
 * App Notifications *
 *********************/
.app-notification,
.app-notification.frame {
  padding: 10px;
  border-top-width: 0px;
  border-radius: 0px 0px 3px 3px;
  border-color: @borders; }
  .app-notification .button,
  .app-notification.frame .button {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: none;
    icon-shadow: none;
    color: @button_fg;
    border-color: @borders;
    background-color: transparent;
    background-image: linear-gradient(to bottom,@button_bg_a,@button_bg_b); }
    .app-notification .button.flat,
    .app-notification.frame .button.flat {
      icon-shadow: none;
      text-shadow: none;
      color: @borders; }
      .app-notification .button.flat:hover,
      .app-notification.frame .button.flat:hover {
        color: @error_color; }
      .app-notification .button.flat:active,
      .app-notification.frame .button.flat:active {
        color: @error_color; }
    .app-notification .button:hover,
    .app-notification.frame .button:hover {
      color: @button_fg;
      border-color: @button_hover; }
    .app-notification .button:active, .app-notification .button:checked,
    .app-notification.frame .button:active,
    .app-notification.frame .button:checked {
      color: @selection_fg;
      border-color: @button_active;
      background-color: transparent;
      background-image: linear-gradient(to bottom,@button_active_bg_a,@button_active_bg_b); }
    .app-notification .button:insensitive,
    .app-notification.frame .button:insensitive {
      color: @button_dis_fg;
      border-color: @borders_dis;
      background-color: transparent;
      background-image: linear-gradient(to bottom,@button_dis_bg_a,@button_dis_bg_b); }
      .app-notification .button:insensitive > .label,
      .app-notification.frame .button:insensitive > .label {
        color: inherit; }

/************
 * Calendar *
 ***********/
GtkCalendar {
  color: @view_fg;
  border: 1px solid @borders;
  background-color: @view_bg; }
  GtkCalendar:selected {
    background-color: @borders; }
  GtkCalendar.header {
    border: 1px solid @borders;
    border-radius: 0;
    color: @view_fg; }
  GtkCalendar.button, GtkCalendar.button:focus {
    color: @button_fg; }
    GtkCalendar.button:hover, GtkCalendar.button:focus:hover {
      color: @button_hover; }
    GtkCalendar.button:active, GtkCalendar.button:focus:active {
      color: @button_active; }
  GtkCalendar:inconsistent, GtkCalendar.highlight {
    color: alpha(@view_fg,0.5); }

/*************************
 * Check and Radio items *
 *************************/
.check {
  animation: none;
  background-color: transparent;
  -gtk-icon-source: -gtk-scaled(url("../assets/check-unchecked-normal.png"), url("../assets/check-unchecked-normal@2.png")); }
  .check:hover {
    -gtk-icon-source: -gtk-scaled(url("../assets/check-unchecked-hover.png"), url("../assets/check-unchecked-hover@2.png")); }
  .check:checked {
    -gtk-icon-source: -gtk-scaled(url("../assets/check-checked-normal.png"), url("../assets/check-checked-normal@2.png")); }
    .check:checked:hover {
      -gtk-icon-source: -gtk-scaled(url("../assets/check-checked-hover.png"), url("../assets/check-checked-hover@2.png")); }
  .check:inconsistent {
    -gtk-icon-source: -gtk-scaled(url("../assets/check-mixed-normal.png"), url("../assets/check-mixed-normal@2.png")); }
    .check:inconsistent:hover {
      -gtk-icon-source: -gtk-scaled(url("../assets/check-mixed-hover.png"), url("../assets/check-mixed-hover@2.png")); }
  .check:insensitive {
    -gtk-icon-source: -gtk-scaled(url("../assets/check-unchecked-disabled.png"), url("../assets/check-unchecked-disabled@2.png")); }
  .check:checked {
    -gtk-icon-source: -gtk-scaled(url("../assets/check-checked-normal.png"), url("../assets/check-checked-normal@2.png")); }
    .check:checked:insensitive {
      -gtk-icon-source: -gtk-scaled(url("../assets/check-checked-disabled.png"), url("../assets/check-checked-disabled@2.png")); }
  .check:inconsistent {
    -gtk-icon-source: -gtk-scaled(url("../assets/check-mixed-normal.png"), url("../assets/check-mixed-normal@2.png")); }
    .check:inconsistent:insensitive {
      -gtk-icon-source: -gtk-scaled(url("../assets/check-mixed-disabled.png"), url("../assets/check-mixed-disabled@2.png")); }

.menu .menuitem.check,
.popover .button.flat.check {
  background-color: transparent;
  box-shadow: none;
  icon-shadow: none;
  animation: none; }
  .menu .menuitem.check:hover,
  .popover .button.flat.check:hover {
    -gtk-icon-source: -gtk-scaled(url("../assets/check-unchecked-normal.png"), url("../assets/check-unchecked-normal@2.png")); }
  .menu .menuitem.check:checked:hover,
  .popover .button.flat.check:checked:hover {
    -gtk-icon-source: -gtk-scaled(url("../assets/check-checked-normal.png"), url("../assets/check-checked-normal@2.png")); }
  .menu .menuitem.check:inconsistent:hover,
  .popover .button.flat.check:inconsistent:hover {
    -gtk-icon-source: -gtk-scaled(url("../assets/check-mixed-normal.png"), url("../assets/check-mixed-normal@2.png")); }

.radio {
  animation: none;
  background-color: transparent;
  -gtk-icon-source: -gtk-scaled(url("../assets/radio-unchecked-normal.png"), url("../assets/radio-unchecked-normal@2.png")); }
  .radio:hover {
    -gtk-icon-source: -gtk-scaled(url("../assets/radio-unchecked-hover.png"), url("../assets/radio-unchecked-hover@2.png")); }
  .radio:checked {
    -gtk-icon-source: -gtk-scaled(url("../assets/radio-checked-normal.png"), url("../assets/radio-checked-normal@2.png")); }
    .radio:checked:hover {
      -gtk-icon-source: -gtk-scaled(url("../assets/radio-checked-hover.png"), url("../assets/radio-checked-hover@2.png")); }
  .radio:inconsistent {
    -gtk-icon-source: -gtk-scaled(url("../assets/radio-mixed-normal.png"), url("../assets/radio-mixed-normal@2.png")); }
    .radio:inconsistent:hover {
      -gtk-icon-source: -gtk-scaled(url("../assets/radio-mixed-hover.png"), url("../assets/radio-mixed-hover@2.png")); }
  .radio:insensitive {
    -gtk-icon-source: -gtk-scaled(url("../assets/radio-unchecked-disabled.png"), url("../assets/radio-unchecked-disabled@2.png")); }
  .radio:checked {
    -gtk-icon-source: -gtk-scaled(url("../assets/radio-checked-normal.png"), url("../assets/radio-checked-normal@2.png")); }
    .radio:checked:insensitive {
      -gtk-icon-source: -gtk-scaled(url("../assets/radio-checked-disabled.png"), url("../assets/radio-checked-disabled@2.png")); }
  .radio:inconsistent {
    -gtk-icon-source: -gtk-scaled(url("../assets/radio-mixed-normal.png"), url("../assets/radio-mixed-normal@2.png")); }
    .radio:inconsistent:insensitive {
      -gtk-icon-source: -gtk-scaled(url("../assets/radio-mixed-disabled.png"), url("../assets/radio-mixed-disabled@2.png")); }

.menu .menuitem.radio,
.popover .button.flat.radio {
  background-color: transparent;
  box-shadow: none;
  icon-shadow: none;
  animation: none; }
  .menu .menuitem.radio:hover,
  .popover .button.flat.radio:hover {
    -gtk-icon-source: -gtk-scaled(url("../assets/radio-unchecked-normal.png"), url("../assets/radio-unchecked-normal@2.png")); }
  .menu .menuitem.radio:checked:hover,
  .popover .button.flat.radio:checked:hover {
    -gtk-icon-source: -gtk-scaled(url("../assets/radio-checked-normal.png"), url("../assets/radio-checked-normal@2.png")); }
  .menu .menuitem.radio:inconsistent:hover,
  .popover .button.flat.radio:inconsistent:hover {
    -gtk-icon-source: -gtk-scaled(url("../assets/radio-mixed-normal.png"), url("../assets/radio-mixed-normal@2.png")); }

.view.check, .view.radio,
.list-row .check, list-row .radio {
  icon-shadow: none; }
  .view.check:selected, .view.check:hover, .view.radio:selected, .view.radio:hover,
  .list-row .check:selected,
  .list-row .check:hover, list-row .radio:selected, list-row .radio:hover {
    icon-shadow: none; }

.view.content-view.check {
  icon-shadow: none;
  -gtk-icon-source: -gtk-scaled(url("../assets/check-selectionmode-unchecked-normal.png"), url("../assets/check-selectionmode-unchecked-normal@2.png"));
  background-color: transparent; }

.view.content-view.check:hover {
  icon-shadow: none;
  -gtk-icon-source: -gtk-scaled(url("../assets/check-selectionmode-unchecked-hover.png"), url("../assets/check-selectionmode-unchecked-hover@2.png"));
  background-color: transparent; }

.view.content-view.check:active {
  icon-shadow: none;
  -gtk-icon-source: -gtk-scaled(url("../assets/check-selectionmode-unchecked-hover.png"), url("../assets/check-selectionmode-unchecked-hover@2.png"));
  background-color: transparent; }

.view.content-view.check:checked {
  icon-shadow: none;
  -gtk-icon-source: -gtk-scaled(url("../assets/check-selectionmode-checked-normal.png"), url("../assets/check-selectionmode-checked-normal@2.png"));
  background-color: transparent; }

.view.content-view.check:checked:hover {
  icon-shadow: none;
  -gtk-icon-source: -gtk-scaled(url("../assets/check-selectionmode-checked-hover.png"), url("../assets/check-selectionmode-checked-hover@2.png"));
  background-color: transparent; }

.view.content-view.check:checked:active {
  icon-shadow: none;
  -gtk-icon-source: -gtk-scaled(url("../assets/check-selectionmode-checked-hover.png"), url("../assets/check-selectionmode-checked-hover@2.png"));
  background-color: transparent; }

GtkCheckButton.text-button, GtkRadioButton.text-button {
  outline-offset: 0; }
  GtkCheckButton.text-button:insensitive, GtkCheckButton.text-button:insensitive:active, GtkCheckButton.text-button:insensitive:inconsistent, GtkRadioButton.text-button:insensitive, GtkRadioButton.text-button:insensitive:active, GtkRadioButton.text-button:insensitive:inconsistent {
    color: @button_dis_fg; }
    GtkCheckButton.text-button:insensitive:backdrop, GtkCheckButton.text-button:insensitive:active:backdrop, GtkCheckButton.text-button:insensitive:inconsistent:backdrop, GtkRadioButton.text-button:insensitive:backdrop, GtkRadioButton.text-button:insensitive:active:backdrop, GtkRadioButton.text-button:insensitive:inconsistent:backdrop {
      color: @button_bd_dis_fg; }

.radio:active:checked {
  -gtk-icon-source: -gtk-scaled(url("../assets/radio-uncheck-0.png"), url("../assets/radio-uncheck-0@2.png")); }

.radio:active {
  -gtk-icon-source: -gtk-scaled(url("../assets/radio-check-0.png"), url("../assets/radio-check-0@2.png")); }

.radio:active:inconsistent {
  -gtk-icon-source: -gtk-scaled(url("../assets/radio-mixed-hover-pressed.png"), url("../assets/radio-mixed-hover-pressed@2.png")); }

.check:active:checked {
  -gtk-icon-source: -gtk-scaled(url("../assets/check-uncheck-0.png"), url("../assets/check-uncheck-0@2.png")); }

.check:active {
  -gtk-icon-source: -gtk-scaled(url("../assets/check-check-0.png"), url("../assets/check-check-0@2.png")); }

.check:active:inconsistent {
  -gtk-icon-source: -gtk-scaled(url("../assets/check-mixed-hover-pressed.png"), url("../assets/check-mixed-hover-pressed@2.png")); }

/*****************
 * Color Chooser *
 *****************/
:selected GtkColorSwatch {
  box-shadow: none; }
  :selected GtkColorSwatch.overlay, :selected GtkColorSwatch.overlay:hover {
    border-color: @selection_fg; }

GtkColorSwatch:selected {
  box-shadow: none; }

GtkColorSwatch.top, GtkColorSwatch.bottom, GtkColorSwatch.left, GtkColorSwatch:first-child:not(.overlay):not(.top), GtkColorSwatch.right, GtkColorSwatch:last-child:not(.overlay):not(.bottom), GtkColorSwatch:only-child:not(.overlay),
GtkColorSwatch.top > .overlay,
GtkColorSwatch.bottom > .overlay,
GtkColorSwatch:first-child:not(.top) > .overlay,
GtkColorSwatch:last-child:not(.bottom) > .overlay,
GtkColorSwatch:only-child > .overlay {
  border-radius: 3px; }

GtkColorSwatch:hover, GtkColorSwatch:hover:selected {
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 50%);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4); }
  GtkColorSwatch:hover.color-dark, GtkColorSwatch:hover:selected.color-dark {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 50%); }

GtkColorEditor GtkColorSwatch {
  border-radius: 3px; }
  GtkColorEditor GtkColorSwatch:hover {
    background-image: none;
    box-shadow: none; }

GtkColorSwatch.color-dark {
  color: white;
  outline-color: rgba(0, 0, 0, 0.3); }
  GtkColorSwatch.color-dark:backdrop {
    color: rgba(255, 255, 255, 0.3); }

GtkColorSwatch.color-light {
  color: black;
  outline-color: rgba(255, 255, 255, 0.5); }
  GtkColorSwatch.color-light:backdrop {
    color: rgba(0, 0, 0, 0.3); }

GtkColorSwatch.overlay, GtkColorSwatch.overlay:selected {
  border: 1px solid @borders; }
  GtkColorSwatch.overlay:hover, GtkColorSwatch.overlay:selected:hover {
    border-color: @button_hover; }

GtkColorSwatch#add-color-button {
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  text-shadow: none;
  icon-shadow: none;
  color: @button_fg;
  border-color: @borders;
  background-color: transparent;
  background-image: linear-gradient(to bottom,@button_bg_a,@button_bg_b); }
  GtkColorSwatch#add-color-button:hover {
    color: @button_fg;
    border-color: @button_hover; }
  GtkColorSwatch#add-color-button .overlay {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: @button_fg;
    text-shadow: none;
    icon-shadow: none; }

GtkColorButton.button {
  padding: 5px; }
  GtkColorButton.button GtkColorSwatch:first-child:last-child {
    border-radius: 0;
    box-shadow: none; }
    GtkColorButton.button GtkColorSwatch:first-child:last-child:insensitive, GtkColorButton.button GtkColorSwatch:first-child:last-child:backdrop {
      box-shadow: none; }

/***********
 * Dialogs *
 ***********/
.message-dialog {
  -GtkDialog-button-spacing: 8;
  -GtkDialog-action-area-border: 8; }
  .message-dialog.background {
    background-color: @window_bg; }
  .message-dialog .titlebar {
    box-shadow: none; }

GtkFileChooserDialog .search-bar {
  background-color: @window_bg;
  border-color: @window_bg;
  box-shadow: none; }

GtkFileChooserDialog .dialog-action-box {
  border-top: 1px solid @borders; }

/***************
 * Header bars *
 ***************/
.titlebar,
.titlebar .header-bar,
.header-bar.titlebar {
  transition: none;
  padding: 0px 6px;
  border-width: 0px 0px 1px 0px;
  border-radius: 0px;
  /* should be 3px 3px 0px 0px; */
  border-style: solid;
  border-color: @selection_bg;
  color: @titlebar_fg;
  background-image: linear-gradient(to bottom,@titlebar_bg_a,@titlebar_bg_b); }
  .titlebar:backdrop,
  .titlebar .header-bar:backdrop,
  .header-bar.titlebar:backdrop {
    border-color: transparent;
    background-image: none;
    background-color: @titlebar_bd_bg;
    color: @titlebar_bd_fg;
    box-shadow: none; }
  .titlebar .path-bar .button,
  .titlebar .header-bar .path-bar .button,
  .header-bar.titlebar .path-bar .button {
    color: @titlebar_fg; }
  .titlebar .button,
  .titlebar .header-bar .button,
  .header-bar.titlebar .button {
    padding: 4px 6px;
    transition: none;
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: @titlebar_fg;
    text-shadow: none;
    icon-shadow: none; }
    .titlebar .button.flat,
    .titlebar .header-bar .button.flat,
    .header-bar.titlebar .button.flat {
      border-color: transparent;
      background-color: transparent;
      background-image: none;
      box-shadow: none;
      color: @titlebar_fg;
      text-shadow: none;
      icon-shadow: none; }
    .titlebar .button:hover,
    .titlebar .header-bar .button:hover,
    .header-bar.titlebar .button:hover {
      color: @titlebar_fg;
      border-color: @button_hover; }
      .titlebar .button:hover:backdrop,
      .titlebar .header-bar .button:hover:backdrop,
      .header-bar.titlebar .button:hover:backdrop {
        border-color: @titlebar_bd_bg; }
    .titlebar .button:focus, .titlebar .button:active, .titlebar .button:checked:active,
    .titlebar .header-bar .button:focus,
    .titlebar .header-bar .button:active,
    .titlebar .header-bar .button:checked:active,
    .header-bar.titlebar .button:focus,
    .header-bar.titlebar .button:active,
    .header-bar.titlebar .button:checked:active {
      color: @selection_fg;
      border-color: @button_active;
      background-color: transparent;
      background-image: linear-gradient(to bottom,@button_active_bg_a,@button_active_bg_b); }
      .titlebar .button:focus:hover, .titlebar .button:active:hover, .titlebar .button:checked:active:hover,
      .titlebar .header-bar .button:focus:hover,
      .titlebar .header-bar .button:active:hover,
      .titlebar .header-bar .button:checked:active:hover,
      .header-bar.titlebar .button:focus:hover,
      .header-bar.titlebar .button:active:hover,
      .header-bar.titlebar .button:checked:active:hover {
        color: @button_fg;
        border-color: @button_hover;
        background-color: transparent;
        background-image: linear-gradient(to bottom,@button_active_hover_a,@button_active_hover_b); }
      .titlebar .button:focus:backdrop, .titlebar .button:active:backdrop, .titlebar .button:checked:active:backdrop,
      .titlebar .header-bar .button:focus:backdrop,
      .titlebar .header-bar .button:active:backdrop,
      .titlebar .header-bar .button:checked:active:backdrop,
      .header-bar.titlebar .button:focus:backdrop,
      .header-bar.titlebar .button:active:backdrop,
      .header-bar.titlebar .button:checked:active:backdrop {
        background-image: none;
        background-color: @titlebar_bd_bg;
        border-color: @titlebar_bd_bg;
        color: @titlebar_bd_fg; }
    .titlebar .button:checked,
    .titlebar .header-bar .button:checked,
    .header-bar.titlebar .button:checked {
      background-image: none;
      color: @titlebar_fg;
      border-color: mix(@titlebar_fg,@titlebar_bg_b,0.75);
      background-color: mix(@titlebar_fg,@titlebar_bg_b,0.75); }
      .titlebar .button:checked:hover,
      .titlebar .header-bar .button:checked:hover,
      .header-bar.titlebar .button:checked:hover {
        color: @button_fg;
        border-color: @button_hover;
        background-color: transparent;
        background-image: linear-gradient(to bottom,@button_active_hover_a,@button_active_hover_b); }
      .titlebar .button:checked:insensitive,
      .titlebar .header-bar .button:checked:insensitive,
      .header-bar.titlebar .button:checked:insensitive {
        color: @button_dis_fg;
        background-color: @borders_dis;
        border-color: @borders_dis; }
      .titlebar .button:checked:backdrop,
      .titlebar .header-bar .button:checked:backdrop,
      .header-bar.titlebar .button:checked:backdrop {
        background-image: none;
        background-color: @titlebar_bd_bg;
        border-color: @titlebar_bd_bg;
        color: @titlebar_bd_fg; }
    .titlebar .button:insensitive,
    .titlebar .header-bar .button:insensitive,
    .header-bar.titlebar .button:insensitive {
      color: @titlebar_dis_fg; }
      .titlebar .button:insensitive:active, .titlebar .button:insensitive:checked,
      .titlebar .header-bar .button:insensitive:active,
      .titlebar .header-bar .button:insensitive:checked,
      .header-bar.titlebar .button:insensitive:active,
      .header-bar.titlebar .button:insensitive:checked {
        color: @selection_dis_fg;
        border-color: @button_dis_active_bg_a;
        background-color: transparent;
        background-image: linear-gradient(to bottom,@button_dis_active_bg_a,@button_dis_active_bg_b);
        box-shadow: none; }
        .titlebar .button:insensitive:active > .label, .titlebar .button:insensitive:checked > .label,
        .titlebar .header-bar .button:insensitive:active > .label,
        .titlebar .header-bar .button:insensitive:checked > .label,
        .header-bar.titlebar .button:insensitive:active > .label,
        .header-bar.titlebar .button:insensitive:checked > .label {
          color: inherit; }
    .titlebar .button:backdrop,
    .titlebar .header-bar .button:backdrop,
    .header-bar.titlebar .button:backdrop {
      background-color: @titlebar_bd_bg;
      color: @titlebar_bd_fg; }
    .titlebar .button.flat:backdrop, .titlebar .button.flat:backdrop:insensitive, .titlebar .button:insensitive:backdrop,
    .titlebar .header-bar .button.flat:backdrop,
    .titlebar .header-bar .button.flat:backdrop:insensitive,
    .titlebar .header-bar .button:insensitive:backdrop,
    .header-bar.titlebar .button.flat:backdrop,
    .header-bar.titlebar .button.flat:backdrop:insensitive,
    .header-bar.titlebar .button:insensitive:backdrop {
      background-image: none;
      background-color: @titlebar_bd_bg;
      color: @titlebar_bd_fg;
      border-color: transparent; }
    .titlebar .button.flat:insensitive,
    .titlebar .header-bar .button.flat:insensitive,
    .header-bar.titlebar .button.flat:insensitive {
      color: @titlebar_dis_fg; }
    .titlebar .button.image-button,
    .titlebar .header-bar .button.image-button,
    .header-bar.titlebar .button.image-button {
      padding: 4px; }
  .titlebar .title,
  .titlebar .header-bar .title,
  .header-bar.titlebar .title {
    font-weight: normal;
    padding: 0px 12px; }
  .titlebar .subtitle,
  .titlebar .header-bar .subtitle,
  .header-bar.titlebar .subtitle {
    font-size: smaller;
    padding: 0 12px; }
  .titlebar .header-bar-separator,
  .titlebar > GtkBox > .separator.vertical,
  .titlebar .header-bar .header-bar-separator,
  .titlebar .header-bar > GtkBox > .separator.vertical,
  .header-bar.titlebar .header-bar-separator,
  .header-bar.titlebar > GtkBox > .separator.vertical {
    -GtkWidget-wide-separators: true;
    -GtkWidget-separator-width: 1px;
    border-width: 0px;
    background-color: transparent;
    background-image: none;
    border-color: transparent; }
  .titlebar.selection-mode .selection-menu,
  .titlebar .header-bar.selection-mode .selection-menu,
  .header-bar.titlebar.selection-mode .selection-menu {
    padding-left: 10px;
    padding-right: 10px; }
    .titlebar.selection-mode .selection-menu GtkArrow,
    .titlebar .header-bar.selection-mode .selection-menu GtkArrow,
    .header-bar.titlebar.selection-mode .selection-menu GtkArrow {
      -GtkArrow-arrow-scaling: 1; }
    .titlebar.selection-mode .selection-menu .arrow,
    .titlebar .header-bar.selection-mode .selection-menu .arrow,
    .header-bar.titlebar.selection-mode .selection-menu .arrow {
      -gtk-icon-source: -gtk-icontheme("arrow-down");
      icon-shadow: none; }
  .tiled .titlebar, .maximized .titlebar, .tiled
  .titlebar .header-bar, .maximized
  .titlebar .header-bar, .tiled
  .header-bar.titlebar, .maximized
  .header-bar.titlebar {
    border-radius: 0; }
  .titlebar.default-decoration,
  .titlebar .header-bar.default-decoration,
  .header-bar.titlebar.default-decoration {
    padding: 4px; }
    .titlebar.default-decoration .button,
    .titlebar .header-bar.default-decoration .button,
    .header-bar.titlebar.default-decoration .button {
      padding: 5px; }

.header-bar .entry,
.header-bar .spinbutton,
.header-bar .separator,
.header-bar .button,
.titlebar .entry,
.titlebar .spinbutton,
.titlebar .separator,
.titlebar .button,
.titlebar .header-bar .entry,
.titlebar .header-bar .spinbutton,
.titlebar .header-bar .separator,
.titlebar .header-bar .button,
.header-bar.titlebar .entry,
.header-bar.titlebar .spinbutton,
.header-bar.titlebar .separator,
.header-bar.titlebar .button {
  margin-top: 3px;
  margin-bottom: 3px; }

.header-bar {
  padding: 4px 3px;
  background-color: @window_bg; }
  .header-bar .button,
  .header-bar .button:backdrop {
    padding: 6px;
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: @button_fg;
    text-shadow: none;
    icon-shadow: none;
    transition: none; }
    .header-bar .button:hover,
    .header-bar .button:backdrop:hover {
      background-image: none;
      color: @button_fg;
      border-color: @button_hover; }
      .header-bar .button:hover:active,
      .header-bar .button:backdrop:hover:active {
        color: @button_fg;
        border-color: @button_hover;
        background-color: transparent;
        background-image: linear-gradient(to bottom,@button_active_hover_a,@button_active_hover_b); }
    .header-bar .button:checked,
    .header-bar .button:backdrop:checked {
      background-color: @borders; }
    .header-bar .button:checked:hover,
    .header-bar .button:backdrop:checked:hover {
      color: @button_fg;
      border-color: @button_hover;
      background-color: transparent;
      background-image: linear-gradient(to bottom,@button_active_hover_a,@button_active_hover_b); }
    .header-bar .button:insensitive,
    .header-bar .button:backdrop:insensitive {
      color: @button_dis_fg; }

/**************
 * GtkInfoBar *
 **************/
GtkInfoBar {
  border-style: none;
  border-bottom: 1px solid @borders;
  background-color: @window_bg;
  background-image: none; }

.info, .titlebar.selection-mode,
.titlebar .header-bar.selection-mode,
.header-bar.titlebar.selection-mode,
.question,
.warning,
.error {
  background-color: @window_bg;
  background-image: none;
  color: @warning_color;
  text-shadow: none; }
  .info .button, .titlebar.selection-mode .button,
  .titlebar .header-bar.selection-mode .button,
  .question .button,
  .warning .button,
  .error .button {
    box-shadow: none;
    background-image: none;
    background-color: alpha(@warning_color,0.5);
    border-color: alpha(@warning_color,0.5);
    color: @button_fg; }
    .info .button:hover, .titlebar.selection-mode .button:hover,
    .titlebar .header-bar.selection-mode .button:hover,
    .question .button:hover,
    .warning .button:hover,
    .error .button:hover {
      background-color: alpha(@warning_color,0.25);
      border-color: @warning_color; }
    .info .button:active, .titlebar.selection-mode .button:active,
    .titlebar .header-bar.selection-mode .button:active, .info .button:checked, .titlebar.selection-mode .button:checked,
    .titlebar .header-bar.selection-mode .button:checked, .info .button:active:hover, .titlebar.selection-mode .button:active:hover,
    .titlebar .header-bar.selection-mode .button:active:hover, .info .button:focus:hover, .titlebar.selection-mode .button:focus:hover,
    .titlebar .header-bar.selection-mode .button:focus:hover,
    .question .button:active,
    .question .button:checked,
    .question .button:active:hover,
    .question .button:focus:hover,
    .warning .button:active,
    .warning .button:checked,
    .warning .button:active:hover,
    .warning .button:focus:hover,
    .error .button:active,
    .error .button:checked,
    .error .button:active:hover,
    .error .button:focus:hover {
      background-color: @warning_color;
      color: @window_fg;
      border-color: @warning_color;
      background-image: none; }
    .info .button:insensitive, .titlebar.selection-mode .button:insensitive,
    .titlebar .header-bar.selection-mode .button:insensitive,
    .question .button:insensitive,
    .warning .button:insensitive,
    .error .button:insensitive {
      background-color: @window_bg;
      border-color: @window_bg;
      color: @window_dis_fg; }

/*********
 * Links *
 *********/
*:link, .button:link, .button:visited {
  color: @link_color; }
  *:link:visited, .button:visited {
    color: @link_visited_color; }
    *:selected *:link:visited, *:selected .button:visited {
      color: mix(@selection_fg,@selection_bg,0.6); }
  *:link:hover, .button:hover:link, .button:hover:visited {
    color: @selection_hover; }
    *:selected *:link:hover, *:selected .button:hover:link, *:selected .button:hover:visited {
      color: mix(@selection_fg,@selection_bg,0.9); }
  *:link:active, .button:active:link, .button:active:visited {
    color: @link_color; }
    *:selected *:link:active, *:selected .button:active:link, *:selected .button:active:visited {
      color: mix(@selection_fg,@selection_bg,0.8); }
  *:link:selected, .titlebar.selection-mode .subtitle:link,
  .titlebar .header-bar.selection-mode .subtitle:link,
  .header-bar.titlebar.selection-mode .subtitle:link, .button:selected:link, .button:selected:visited, *:selected *:link, *:selected .button:link, *:selected .button:visited {
    color: mix(@selection_fg,@selection_bg,0.8); }

.button:link, .button:visited {
  text-shadow: none; }
  .button:link:hover, .button:link:active, .button:link:checked, .button:visited:hover, .button:visited:active, .button:visited:checked {
    text-shadow: none; }

/*********
 * Lists *
 *********/
.list, .list-row {
  background-color: @window_bg;
  color: @window_fg;
  border-width: 0px; }

.list-row,
.grid-child {
  padding: 0px 2px;
  border-style: solid;
  border-width: 0px;
  border-color: @window_bg; }

.list-row,
.list-row.button {
  background-color: @window_bg; }
  .list-row:hover,
  .list-row.button:hover {
    background-color: alpha(@button_hover,0.25); }
  .list-row:active,
  .list-row.button:active {
    background-color: @selection_bg;
    color: @selection_fg;
    box-shadow: none; }

.list-row, .list-row.button {
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .list-row:hover, .list-row.button:hover {
    transition: none; }

/*********
 * Menus *
 *********/
/* menu buttons */
.menuitem.button.flat {
  color: @window_fg; }
  .menuitem.button.flat:hover {
    background-color: @button_hover; }
  .menuitem.button.flat:selected {
    background-color: @button_active;
    color: @selection_fg; }

.menubar {
  -GtkWidget-window-dragging: true;
  padding: 0px;
  box-shadow: none;
  border-style: none;
  background-color: @window_bg; }
  .menubar > .menuitem {
    padding: 6px;
    border-style: solid;
    border-width: 1px 0px;
    border-color: @window_bg; }
    .menubar > .menuitem:hover {
      background-color: @button_active;
      color: @selection_fg; }
    .menubar > .menuitem:insensitive {
      color: @window_dis_fg;
      box-shadow: none; }

.menu {
  padding: 0px;
  background-color: @menu_color;
  border: 1px solid @borders;
  border-radius: 3px; }
  .csd .menu {
    border: 1px solid @borders; }
  .menu .separator {
    color: @borders; }
  .menu .menuitem {
    text-shadow: none;
    padding: 4px 4px; }
    .menu .menuitem:hover {
      color: @selection_fg;
      background-color: @button_active; }
    .menu .menuitem:insensitive {
      color: @window_dis_fg; }
    .menu .menuitem.arrow {
      -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
    .menu .menuitem.arrow:dir(rtl) {
      -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); }

.menuitem .accelerator {
  color: alpha(currentColor,0.5); }

/***************
 * Popovers   *
 ***************/
.popover {
  padding: 0px;
  border: 1px solid @borders;
  border-radius: 3px;
  background-color: @menu_color;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8); }
  .popover > .list,
  .popover > .view,
  .popover > .toolbar,
  .popover > .inline-toolbar,
  .popover > .search-bar,
  .popover > .location-bar,
  .popover.osd > .toolbar,
  .popover.osd > .inline-toolbar,
  .popover.osd > .search-bar,
  .popover.osd > .location-bar {
    border-style: none;
    background-color: transparent; }
  .popover .button.flat {
    border-radius: 0px;
    color: @window_fg;
    padding-right: 3px; }
    .popover .button.flat .label {
      padding: 2px 0px; }
    .popover .button.flat:hover, .popover .button.flat:checked:hover {
      background-image: none;
      background-color: @button_active;
      color: @selection_fg;
      transition: none; }

.entry.cursor-handle,
.cursor-handle {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border-style: none; }
  .entry.cursor-handle.top,
  .cursor-handle.top {
    -gtk-icon-source: -gtk-icontheme("selection-start-symbolic"); }
  .entry.cursor-handle.bottom,
  .cursor-handle.bottom {
    -gtk-icon-source: -gtk-icontheme("selection-end-symbolic"); }

.scale-popup .button,
.scale-popup .button.flat {
  background-color: transparent;
  padding: 5px;
  color: @window_fg; }
  .scale-popup .button:hover,
  .scale-popup .button.flat:hover {
    background-color: transparent;
    color: @button_hover; }
  .scale-popup .button:active,
  .scale-popup .button.flat:active {
    background-color: transparent;
    color: @button_active; }
  .scale-popup .button:insensitive,
  .scale-popup .button.flat:insensitive {
    background-color: transparent;
    color: @window_dis_fg; }

GtkVolumeButton.button {
  padding: 5px; }

/********
 * Misc *
 ********/
/**********
* Frames *
**********/
.frame {
  border: 1px solid @borders;
  padding: 0; }
  .frame.flat {
    border-style: none; }
  .frame.action-bar {
    padding: 6px;
    border-width: 1px 0 0; }

GtkScrolledWindow GtkViewport.frame {
  border-style: none; }

.separator {
  color: transparent; }
  .separator.vertical {
    color: @borders; }
  GtkFileChooserButton .separator.vertical,
  GtkFontButton .separator.vertical {
    -GtkWidget-wide-separators: true; }

/*************
* Expanders *
*************/
.expander {
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
  .expander:dir(rtl) {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); }
  .expander:hover {
    color: @button_hover; }
  .expander:checked {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

/*********
* Paned *
*********/
GtkPaned {
  -GtkPaned-handle-size: 1;
  -gtk-icon-source: none;
  margin: 0 8px 8px 0; }
  GtkPaned:dir(rtl) {
    margin-right: 0;
    margin-left: 8px; }
  GtkPaned .pane-separator {
    background-color: @borders; }
    GtkPaned .pane-separator:backdrop {
      background-color: @borders_bd; }

GtkPaned.wide {
  -GtkPaned-handle-size: 5;
  margin: 0; }
  GtkPaned.wide .pane-separator {
    background-color: transparent;
    border-style: none; }
  GtkPaned.wide.vertical .pane-separator {
    border-style: none; }
  GtkPaned.wide .pane-separator:backdrop {
    border-color: transparent; }

/*********************
* Spinner Animation *
*********************/
@keyframes spin {
  to {
    -gtk-icon-transform: rotate(1turn); } }

.spinner {
  background-image: none;
  background-color: blue;
  opacity: 0;
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic"); }
  .spinner:active {
    opacity: 1;
    animation: spin 1s linear infinite; }
    .spinner:active:insensitive {
      opacity: 0.5; }

/*****************
 * Notebooks and *
 * Tabs          *
 *****************/
.notebook {
  -GtkNotebook-initial-gap: 0;
  -GtkNotebook-arrow-spacing: 5;
  -GtkNotebook-tab-curvature: 0;
  -GtkNotebook-tab-overlap: 1;
  -GtkNotebook-has-tab-gap: false;
  -GtkWidget-focus-padding: 0;
  -GtkWidget-focus-line-width: 0;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-color: @menu_color; }
  .notebook.frame {
    border: 1px solid @borders; }
    .notebook.frame.top {
      border-top-width: 0; }
    .notebook.frame.bottom {
      border-bottom-width: 0; }
    .notebook.frame.right {
      border-right-width: 0; }
    .notebook.frame.left {
      border-left-width: 0; }
  .notebook.header {
    background-color: @window_bg;
    padding-top: 4px; }
    .notebook.header.frame {
      border-style: none; }
    .notebook.header.top {
      box-shadow: inset 0 -1px @borders; }
    .notebook.header.bottom {
      box-shadow: inset 0 1px @borders; }
    .notebook.header.right {
      box-shadow: inset 1px 0 @borders; }
    .notebook.header.left {
      box-shadow: inset -1px 0 @borders; }
  .notebook tab {
    border: 1px solid alpha(@window_fg,0.2);
    background-color: alpha(@window_fg,0.2);
    background-clip: padding-box;
    padding: 6px; }
    .notebook tab.reorderable-page {
      background-color: @window_bg; }
      .notebook tab.reorderable-page.top, .notebook tab.reorderable-page.bottom {
        padding-left: 12px;
        padding-right: 6px;
        padding-bottom: 8px; }
    .notebook tab.top {
      border-radius: 3px 3px 0px 0px;
      border-bottom-color: transparent; }
      .notebook tab.top:active, .notebook tab.top.active-page {
        border-color: @borders;
        border-bottom-color: @menu_color;
        background-color: @menu_color; }
    .notebook tab.bottom {
      border-radius: 0px 0px 3px 3px;
      border-top-color: transparent; }
      .notebook tab.bottom:active, .notebook tab.bottom.active-page {
        border-color: @borders;
        border-top-color: @menu_color;
        background-color: @menu_color; }
    .notebook tab.left {
      border-radius: 3px 0px 0px 3px;
      border-right-color: transparent; }
      .notebook tab.left:active, .notebook tab.left.active-page {
        border-color: @borders;
        border-right-color: @menu_color;
        background-color: @menu_color; }
    .notebook tab.right {
      border-radius: 0px 3px 3px 0px;
      border-left-color: transparent; }
      .notebook tab.right:active, .notebook tab.right.active-page {
        border-color: @borders;
        border-left-color: @menu_color;
        background-color: @menu_color; }
    .notebook tab:hover, .notebook tab.prelight-page {
      background-color: alpha(@selection_bg,0.2);
      border-color: alpha(@selection_bg,0.2); }
    .notebook tab.reorderable-page.top {
      border-width: 3px;
      border-style: solid;
      border-color: transparent;
      background-color: @window_bg;
      background-clip: padding-box;
      border-right-width: 1px;
      border-right-color: @borders;
      box-shadow: inset -3px 0px 0px 0px @window_bg; }
      .notebook tab.reorderable-page.top:hover, .notebook tab.reorderable-page.top.prelight-page {
        box-shadow: inset 0px -3px 0px 0px alpha(@selection_bg,0.2), inset -3px 0px 0px 0px @window_bg; }
      .notebook tab.reorderable-page.top:active, .notebook tab.reorderable-page.top.active-page {
        box-shadow: inset 0px -3px 0px 0px @selection_bg, inset -3px 0px 0px 0px @window_bg; }
    .notebook tab.reorderable-page.bottom {
      border-width: 3px;
      border-style: solid;
      border-color: transparent;
      background-color: @window_bg;
      background-clip: padding-box;
      border-right-width: 1px;
      border-right-color: @borders;
      box-shadow: inset -3px 0px 0px 0px @window_bg; }
      .notebook tab.reorderable-page.bottom:hover, .notebook tab.reorderable-page.bottom.prelight-page {
        box-shadow: inset 0px -3px 0px 0px alpha(@selection_bg,0.2), inset -3px 0px 0px 0px @window_bg; }
      .notebook tab.reorderable-page.bottom:active, .notebook tab.reorderable-page.bottom.active-page {
        box-shadow: inset 0px -3px 0px 0px @selection_bg, inset -3px 0px 0px 0px @window_bg; }
    .notebook tab.reorderable-page.left {
      border-width: 3px;
      border-style: solid;
      border-color: transparent;
      background-color: @window_bg;
      background-clip: padding-box;
      border-bottom-width: 1px;
      border-bottom-color: @borders;
      box-shadow: inset 0px -3px 0px 0px @window_bg; }
      .notebook tab.reorderable-page.left:hover, .notebook tab.reorderable-page.left.prelight-page {
        box-shadow: inset 0px -3px 0px 0px alpha(@selection_bg,0.2), inset 0px -3px 0px 0px @window_bg; }
      .notebook tab.reorderable-page.left:active, .notebook tab.reorderable-page.left.active-page {
        box-shadow: inset 0px -3px 0px 0px @selection_bg, inset 0px -3px 0px 0px @window_bg; }
    .notebook tab.reorderable-page.right {
      border-width: 3px;
      border-style: solid;
      border-color: transparent;
      background-color: @window_bg;
      background-clip: padding-box;
      border-bottom-width: 1px;
      border-bottom-color: @borders;
      box-shadow: inset 0px -3px 0px 0px @window_bg; }
      .notebook tab.reorderable-page.right:hover, .notebook tab.reorderable-page.right.prelight-page {
        box-shadow: inset 0px -3px 0px 0px alpha(@selection_bg,0.2), inset 0px -3px 0px 0px @window_bg; }
      .notebook tab.reorderable-page.right:active, .notebook tab.reorderable-page.right.active-page {
        box-shadow: inset 0px -3px 0px 0px @selection_bg, inset 0px -3px 0px 0px @window_bg; }
    .notebook tab .label {
      padding: 0 2px;
      color: @window_fg; }
    .notebook tab .button {
      padding: 0px;
      border: none;
      background-image: none;
      background-color: transparent;
      box-shadow: none;
      icon-shadow: none;
      transition: none;
      color: @borders; }
      .notebook tab .button:hover {
        color: @error_color;
        border-color: transparent;
        background-image: none;
        box-shadow: none; }
      .notebook tab .button:active {
        color: @error_color;
        border-color: transparent;
        background-image: none;
        box-shadow: none; }
      .notebook tab .button > GtkImage {
        padding: 0px; }
    .notebook tab .button .active-page, .notebook tab .button.active-page {
      background-color: @error_color; }
  .notebook.arrow {
    color: @window_fg; }
    .notebook.arrow:hover {
      color: @button_hover; }
    .notebook.arrow:active {
      color: @button_active; }
    .notebook.arrow:insensitive {
      color: @window_dis_fg; }

/* Decouple the font of context menus from their entry/textview */
.touch-selection,
.context-menu {
  font: initial; }

.monospace {
  font: Monospace; }

.overshoot.top {
  background-image: -gtk-gradient(radial, center top, 0, center top, 0.5, to(@borders), to(alpha(@borders,0))), -gtk-gradient(radial, center top, 0, center top, 0.6, from(alpha(@window_fg,0.07)), to(alpha(@window_fg,0)));
  background-size: 100% 5%, 100% 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: transparent;
  border: none;
  box-shadow: none; }
  .overshoot.top:backdrop {
    background-image: -gtk-gradient(radial, center top, 0, center top, 0.5, to(@borders_bd), to(alpha(@borders_bd,0)));
    background-size: 100% 5%;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: transparent;
    border: none;
    box-shadow: none; }

.overshoot.bottom {
  background-image: -gtk-gradient(radial, center bottom, 0, center bottom, 0.5, to(@borders), to(alpha(@borders,0))), -gtk-gradient(radial, center bottom, 0, center bottom, 0.6, from(alpha(@window_fg,0.07)), to(alpha(@window_fg,0)));
  background-size: 100% 5%, 100% 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: transparent;
  border: none;
  box-shadow: none; }
  .overshoot.bottom:backdrop {
    background-image: -gtk-gradient(radial, center bottom, 0, center bottom, 0.5, to(@borders_bd), to(alpha(@borders_bd,0)));
    background-size: 100% 5%;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: transparent;
    border: none;
    box-shadow: none; }

.overshoot.left {
  background-image: -gtk-gradient(radial, left center, 0, left center, 0.5, to(@borders), to(alpha(@borders,0))), -gtk-gradient(radial, left center, 0, left center, 0.6, from(alpha(@window_fg,0.07)), to(alpha(@window_fg,0)));
  background-size: 5% 100%, 100% 100%;
  background-repeat: no-repeat;
  background-position: left center;
  background-color: transparent;
  border: none;
  box-shadow: none; }
  .overshoot.left:backdrop {
    background-image: -gtk-gradient(radial, left center, 0, left center, 0.5, to(@borders_bd), to(alpha(@borders_bd,0)));
    background-size: 5% 100%;
    background-repeat: no-repeat;
    background-position: left center;
    background-color: transparent;
    border: none;
    box-shadow: none; }

.overshoot.right {
  background-image: -gtk-gradient(radial, right center, 0, right center, 0.5, to(@borders), to(alpha(@borders,0))), -gtk-gradient(radial, right center, 0, right center, 0.6, from(alpha(@window_fg,0.07)), to(alpha(@window_fg,0)));
  background-size: 5% 100%, 100% 100%;
  background-repeat: no-repeat;
  background-position: right center;
  background-color: transparent;
  border: none;
  box-shadow: none; }
  .overshoot.right:backdrop {
    background-image: -gtk-gradient(radial, right center, 0, right center, 0.5, to(@borders_bd), to(alpha(@borders_bd,0)));
    background-size: 5% 100%;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: transparent;
    border: none;
    box-shadow: none; }

/************
 * Pathbars *
 ************/
.path-bar .button {
  border-color: transparent;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: @button_fg;
  text-shadow: none;
  icon-shadow: none;
  border: none;
  padding: 4px 6px;
  color: @window_fg;
  background-image: none; }
  .path-bar .button:hover, .path-bar .button:checked:hover, .path-bar .button:active:hover {
    background-image: none;
    background-color: alpha(@selection_bg,0.1);
    border: none; }
  .path-bar .button:active, .path-bar .button:checked {
    font-weight: bold;
    background-color: @window_bg; }
  .path-bar .button.text-button.image-button label {
    padding-left: 0;
    padding-right: 0; }
  .path-bar .button.text-button.image-button .label:last-child, .path-bar .button .label:last-child {
    padding-left: 6px; }
  .path-bar .button.text-button.image-button .label:first-child, .path-bar .button .label:first-child {
    padding-right: 6px; }

/*****************
 * Progress bars *
 *****************/
GtkProgressBar {
  padding: 0;
  font-size: smaller;
  color: alpha(@button_fg,0.3);
  box-shadow: none; }
  GtkProgressBar.osd {
    -GtkProgressBar-xspacing: 0;
    -GtkProgressBar-yspacing: 0;
    -GtkProgressBar-min-horizontal-bar-height: 6; }
  GtkProgressBar.trough {
    border: 0px solid transparent;
    border-radius: 3px;
    background-color: alpha(@button_fg,0.3); }
    GtkProgressBar.trough.osd {
      border: 0px solid transparent;
      border-radius: 3px;
      background-color: alpha(@button_fg,0.3); }

.progressbar {
  background-color: @selection_bg;
  border: 0px solid @selection_bg;
  border-radius: 0px;
  box-shadow: none; }
  .progressbar.left {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .progressbar.right {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  .progressbar.left.right {
    box-shadow: none; }
  .progressbar.vertical.bottom {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: none; }
  .progressbar.vertical.top {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .progressbar.osd {
    background-image: none;
    background-color: @selection_bg;
    border: 0px solid @selection_bg;
    border-radius: 3px; }

/*************
 * Level Bar *
 *************/
.level-bar.vertical {
  -GtkLevelBar-min-block-width: 6;
  -GtkLevelBar-min-block-height: 34; }

.level-bar {
  box-shadow: none;
  -GtkLevelBar-min-block-width: 34;
  -GtkLevelBar-min-block-height: 6; }
  .level-bar.vertical {
    -GtkLevelBar-min-block-width: 6;
    -GtkLevelBar-min-block-height: 34; }
  .level-bar.trough {
    border: 0px solid transparent;
    padding: 3px;
    border-radius: 3px;
    background-color: transparent; }
  .level-bar.fill-block {
    border: 0px solid @selection_bg;
    background-color: @selection_bg;
    box-shadow: none;
    border-radius: 3px; }
    .level-bar.fill-block.indicator-discrete.horizontal {
      margin: 0 1px; }
    .level-bar.fill-block.indicator-discrete.vertical {
      margin: 1px 0; }
    .level-bar.fill-block.level-high {
      border-color: @success_color;
      background-color: @success_color; }
    .level-bar.fill-block.level-low {
      border-color: @warning_color;
      background-color: @warning_color; }
    .level-bar.fill-block.empty-fill-block {
      background-color: alpha(@button_fg,0.3);
      border-color: transparent;
      box-shadow: none; }

/************
 * GtkScale *
 ************/
.scale,
.scale.scale-has-marks-above.scale-has-marks-below,
.scale.vertical.scale-has-marks-above.scale-has-marks-below {
  -GtkScale-slider-length: 18;
  -GtkRange-slider-width: 18;
  -GtkRange-trough-border: 2; }
  .scale.fine-tune.trough,
  .scale.scale-has-marks-above.scale-has-marks-below.fine-tune.trough,
  .scale.vertical.scale-has-marks-above.scale-has-marks-below.fine-tune.trough {
    margin: 8px;
    border-radius: 3px; }
  .scale.slider,
  .scale.scale-has-marks-above.scale-has-marks-below.slider,
  .scale.vertical.scale-has-marks-above.scale-has-marks-below.slider {
    background-image: linear-gradient(to bottom,@button_bg_a,@button_bg_b);
    border: 1px solid @borders;
    border-radius: 50%;
    box-shadow: none; }
    .scale.slider:hover,
    .scale.scale-has-marks-above.scale-has-marks-below.slider:hover,
    .scale.vertical.scale-has-marks-above.scale-has-marks-below.slider:hover {
      border-style: solid;
      border-width: 1px;
      border-color: @button_hover;
      border-radius: 50%; }
    .scale.slider:insensitive,
    .scale.scale-has-marks-above.scale-has-marks-below.slider:insensitive,
    .scale.vertical.scale-has-marks-above.scale-has-marks-below.slider:insensitive {
      border-style: solid;
      border-radius: 50%;
      background-image: linear-gradient(to bottom,@button_dis_bg_a,@button_dis_bg_b);
      border-color: @borders_dis; }
    .scale.slider:active,
    .scale.scale-has-marks-above.scale-has-marks-below.slider:active,
    .scale.vertical.scale-has-marks-above.scale-has-marks-below.slider:active {
      border: 1px solid @button_hover; }
    .scale.slider:focus,
    .scale.scale-has-marks-above.scale-has-marks-below.slider:focus,
    .scale.vertical.scale-has-marks-above.scale-has-marks-below.slider:focus {
      border: 1px solid @button_active; }
  .scale.trough,
  .scale.scale-has-marks-above.scale-has-marks-below.trough,
  .scale.vertical.scale-has-marks-above.scale-has-marks-below.trough {
    margin: 8px;
    border: 0px solid alpha(@button_fg,0.3);
    border-radius: 3px;
    background-color: alpha(@button_fg,0.3);
    box-shadow: none; }
    .scale.trough.highlight,
    .scale.scale-has-marks-above.scale-has-marks-below.trough.highlight,
    .scale.vertical.scale-has-marks-above.scale-has-marks-below.trough.highlight {
      background-color: @selection_bg;
      border-color: @selection_bg; }
      .scale.trough.highlight.vertical,
      .scale.scale-has-marks-above.scale-has-marks-below.trough.highlight.vertical,
      .scale.vertical.scale-has-marks-above.scale-has-marks-below.trough.highlight.vertical {
        background-color: @selection_bg;
        border-color: @selection_bg; }
    .scale.trough:insensitive, .scale.trough.vertical:insensitive,
    .scale.scale-has-marks-above.scale-has-marks-below.trough:insensitive,
    .scale.scale-has-marks-above.scale-has-marks-below.trough.vertical:insensitive,
    .scale.vertical.scale-has-marks-above.scale-has-marks-below.trough:insensitive,
    .scale.vertical.scale-has-marks-above.scale-has-marks-below.trough.vertical:insensitive {
      border-color: alpha(@button_dis_fg,0.3);
      background-color: alpha(@button_dis_fg,0.3);
      box-shadow: none; }

/**************
 * Scrollbars *
 **************/
.scrollbar {
  -GtkRange-trough-border: 0;
  -GtkScrollbar-has-backward-stepper: false;
  -GtkScrollbar-has-forward-stepper: false;
  -GtkRange-slider-width: 20;
  -GtkScrollbar-min-slider-length: 64;
  -GtkRange-stepper-spacing: 0;
  -GtkRange-trough-under-steppers: 1; }
  .scrollbar.dragging, .scrollbar.hovering {
    background: none;
    border: none; }
  .scrollbar .button {
    color: @button_fg; }
    .scrollbar .button:hover {
      color: @button_hover; }
    .scrollbar .button:insensitive {
      color: @button_dis_fg; }
  .scrollbar:hover.trough {
    background-clip: padding-box;
    background-color: @trough_color;
    border: 7px solid transparent;
    border-radius: 10px; }
  .scrollbar.slider {
    background-clip: padding-box;
    background-color: @scrollbar_color;
    border: 7px solid transparent;
    border-radius: 10px; }
    .scrollbar.slider:hover {
      background-color: @button_hover; }
    .scrollbar.slider:active {
      background-color: @button_hover; }
    .scrollbar.slider:focus {
      background-color: @button_active; }

.scrollbars-junction,
.scrollbars-junction.frame {
  border-color: transparent;
  background-color: transparent;
  border-image: none; }

/***********
 * Sidebar *
 ***********/
.sidebar,
.sidebar .view {
  border: none;
  background-color: @window_bg; }

GtkSidebarRow.list-row {
  padding: 0px; }

GtkSidebarRow .sidebar-revealer {
  padding: 0px 14px 0px 12px; }

GtkSidebarRow .sidebar-icon:dir(ltr) {
  padding-top: 0px;
  padding-right: 8px; }

GtkSidebarRow .sidebar-icon:dir(rtl) {
  padding-left: 8px; }

GtkSidebarRow .sidebar-label:dir(ltr) {
  padding-right: 2px; }

GtkSidebarRow .sidebar-label:dir(rtl) {
  padding-left: 2px; }

.sidebar-item {
  padding: 6px 4px; }
  .sidebar-item > .label {
    padding-left: 6px;
    padding-right: 6px; }

/*****************
 * GtkSpinButton *
 *****************/
.osd .spinbutton .button:last-child {
  border-radius: 0 3px 3px 0; }

.osd .spinbutton .button:dir(rtl):first-child {
  border-radius: 3px 0 0 3px; }

.spinbutton.vertical .button, .spinbutton.vertical:dir(rtl) .button {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: @view_bg;
  border-width: 1px;
  border-color: @borders;
  color: @button_fg; }
  .spinbutton.vertical .button:active, .spinbutton.vertical:dir(rtl) .button:active {
    color: @button_active; }
  .spinbutton.vertical .button:hover, .spinbutton.vertical:dir(rtl) .button:hover {
    background-image: none;
    color: @button_hover; }
  .spinbutton.vertical .button:insensitive, .spinbutton.vertical:dir(rtl) .button:insensitive {
    background-color: @view_dis_bg;
    border-color: @borders_dis;
    color: @button_dis_fg; }
  .spinbutton.vertical .button:first-child, .spinbutton.vertical:dir(rtl) .button:first-child {
    border-radius: 3px 3px 0 0;
    border-style: solid solid none solid; }
  .spinbutton.vertical .button:last-child, .spinbutton.vertical:dir(rtl) .button:last-child {
    border-radius: 0 0 3px 3px;
    border-style: none solid solid solid; }

.spinbutton.vertical.entry, .spinbutton.vertical:dir(rtl).entry {
  border-radius: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-style: none solid none solid;
  border-color: @borders; }

GtkTreeView .spinbutton.entry, GtkTreeView .spinbutton.entry:focus {
  padding: 1px;
  border-width: 1px 0;
  border-color: @view_active;
  border-radius: 0;
  box-shadow: none; }

.spinbutton .button, .osd .spinbutton .button {
  background-image: none;
  background-color: transparent;
  border: none;
  color: @button_fg;
  box-shadow: none; }
  .spinbutton .button:dir(rtl), .osd .spinbutton .button:dir(rtl) {
    border-style: none solid none none; }
  .spinbutton .button:hover {
    background-image: none;
    color: @button_hover; }
  .spinbutton .button:insensitive {
    color: @button_dis_fg; }
  .spinbutton .button:active {
    color: @button_active; }

/**********
 * Switch *
 **********/
GtkSwitch {
  -GtkSwitch-slider-width: 24px;
  -GtkSwitch-slider-height: 24px;
  font-weight: bold;
  font-size: smaller;
  outline-offset: 0px;
  color: transparent;
  box-shadow: none; }
  GtkSwitch.trough {
    border: 0px solid;
    border-radius: 12px;
    background-image: none;
    background-color: @trough_color;
    text-shadow: none; }
    GtkSwitch.trough:active {
      background-color: @selection_bg;
      box-shadow: none;
      text-shadow: none; }
    GtkSwitch.trough:insensitive {
      background-color: @trough_dis_color; }
  GtkSwitch.slider {
    border: 1px solid;
    border-radius: 11px;
    background-color: @window_bg;
    border-color: @borders; }
    GtkSwitch.slider:hover {
      box-shadow: none;
      border-color: @button_hover;
      background-color: @window_bg; }
    GtkSwitch.slider:active {
      border-color: @button_active; }
      GtkSwitch.slider:active:hover {
        border-color: @button_hover; }
    GtkSwitch.slider:insensitive {
      background-color: @window_dis_bg; }
  .header-bar GtkSwitch.trough:backdrop {
    background-color: transparent; }
  .header-bar GtkSwitch.slider:backdrop {
    background-color: transparent;
    border-color: transparent; }

/************
 * Toolbars *
 ************/
.toolbar, .inline-toolbar, .search-bar, .location-bar,
.primary-toolbar {
  -GtkWidget-window-dragging: true;
  padding: 4px;
  background-color: @window_bg; }
  .osd .toolbar, .osd .inline-toolbar, .osd .search-bar, .osd .location-bar, .toolbar.osd, .osd.inline-toolbar, .osd.search-bar, .osd.location-bar, .osd
  .primary-toolbar,
  .primary-toolbar.osd {
    padding: 4px;
    border: none;
    border-radius: 3px;
    background-color: @window_bg; }

.inline-toolbar {
  border-width: 0px 0px 1px 0px;
  padding: 3px;
  border-radius: 0; }

.search-bar, .location-bar {
  border-width: 0px 0px 1px 0px;
  padding: 3px; }

.inline-toolbar, .search-bar, .location-bar {
  border-style: solid;
  border-color: @borders;
  text-shadow: none;
  background-color: @window_bg; }

/************
 * Tooltips *
 ************/
.tooltip {
  color: @tooltip_fg;
  padding: 0px;
  /* not working */
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none; }
  .tooltip.background {
    background-color: @tooltip_bg;
    background-clip: padding-box; }
  .tooltip.window-frame.csd {
    background-color: transparent; }

.tooltip * {
  padding: 0px;
  background-color: transparent;
  color: inherit; }

/**************
 * Tree Views *
 **************/
GtkTreeView.view {
  -GtkTreeView-grid-line-width: 0;
  -GtkTreeView-grid-line-pattern: '';
  -GtkTreeView-tree-line-width: 1;
  -GtkTreeView-tree-line-pattern: '';
  -GtkTreeView-expander-size: 16;
  -GtkTreeView-even-row-color: @window_bg;
  border-left-color: @borders;
  border-top-color: transparent; }
  GtkTreeView.view:hover {
    background-color: alpha(@selection_bg,0.25); }
  GtkTreeView.view:selected {
    border-radius: 0; }
  GtkTreeView.view:selected {
    background-color: @selection_bg;
    border-left-color: @selection_fg;
    border-top-color: @selection_fg; }
  GtkTreeView.view:insensitive {
    color: @borders_dis; }
    GtkTreeView.view:insensitive:selected {
      color: @selection_dis_fg; }
  GtkTreeView.view.seperator {
    color: @borders; }
  GtkTreeView.view.dnd {
    border-style: solid none;
    border-width: 1px;
    border-color: @button_hover; }
  GtkTreeView.view.expander {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
    color: @view_fg; }
    GtkTreeView.view.expander:dir(rtl) {
      -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); }
    GtkTreeView.view.expander:hover {
      color: @button_hover; }
    GtkTreeView.view.expander:selected {
      color: @selection_fg; }
    GtkTreeView.view.expander:checked {
      -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }
      GtkTreeView.view.expander:checked:selected {
        color: @selection_fg; }

column-header .button {
  color: @button_fg;
  background-color: @button_bg_color;
  text-shadow: none;
  box-shadow: none; }
  column-header .button:hover {
    color: @button_fg;
    background-color: alpha(@button_hover,0.5);
    box-shadow: none;
    transition: none; }
  column-header .button:active {
    color: @button_fg;
    background-color: alpha(@button_hover,0.5);
    transition: none; }

column-header:last-child .button,
column-header:last-child .button:backdrop, column-header:last-child.button, column-header:last-child.button:backdrop {
  border-right-style: none; }

column-header.button.dnd, column-header .button.dnd, column-header.button.dnd:active, column-header.button.dnd:selected, column-header.button.dnd:hover {
  transition: none;
  color: @selection_bg;
  box-shadow: none; }

column-header .button, column-header .button:hover, column-header .button:active {
  padding: 4px 6px;
  border-style: none solid solid none;
  border-radius: 0;
  background-image: none;
  border-color: @borders;
  text-shadow: none; }
  column-header .button:insensitive {
    border-color: @borders_dis;
    color: @button_dis_fg;
    background-color: @button_dis_bg_color;
    background-image: none; }

/**********************
 * Window Decorations *
 *********************/
.window-frame {
  border-radius: 3px;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.5);
  /* this is used for the resize cursor area */
  margin: 10px; }
  .window-frame:backdrop {
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.5); }
  .window-frame.tiled {
    border-radius: 0; }
  .window-frame.popup {
    border-radius: 3px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1); }
  .window-frame.ssd {
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.1); }
  .window-frame.csd {
    border-radius: 3px; }
    .window-frame.csd.popup {
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1); }
    .window-frame.csd.tooltip {
      box-shadow: none; }
    .window-frame.csd.message-dialog {
      box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.5); }
  .window-frame.solid-csd {
    border-radius: 0;
    margin: 1px;
    background-color: @borders;
    border: none;
    box-shadow: none; }

.header-bar .button.titlebutton.close, .header-bar .button.titlebutton.close:hover, .header-bar .button.titlebutton.close:active, .header-bar .button.titlebutton.close:checked, .header-bar .button.titlebutton.close:backdrop, .header-bar .button.titlebutton.close:active:hover, .header-bar .button.titlebutton.maximize, .header-bar .button.titlebutton.maximize:hover, .header-bar .button.titlebutton.maximize:active, .header-bar .button.titlebutton.maximize:checked, .header-bar .button.titlebutton.maximize:backdrop, .header-bar .button.titlebutton.maximize:active:hover, .header-bar .button.titlebutton.minimize, .header-bar .button.titlebutton.minimize:hover, .header-bar .button.titlebutton.minimize:active, .header-bar .button.titlebutton.minimize:checked, .header-bar .button.titlebutton.minimize:backdrop, .header-bar .button.titlebutton.minimize:active:hover,
.titlebar .button.titlebutton.close,
.titlebar .button.titlebutton.close:hover,
.titlebar .button.titlebutton.close:active,
.titlebar .button.titlebutton.close:checked,
.titlebar .button.titlebutton.close:backdrop,
.titlebar .button.titlebutton.close:active:hover,
.titlebar .button.titlebutton.maximize,
.titlebar .button.titlebutton.maximize:hover,
.titlebar .button.titlebutton.maximize:active,
.titlebar .button.titlebutton.maximize:checked,
.titlebar .button.titlebutton.maximize:backdrop,
.titlebar .button.titlebutton.maximize:active:hover,
.titlebar .button.titlebutton.minimize,
.titlebar .button.titlebutton.minimize:hover,
.titlebar .button.titlebutton.minimize:active,
.titlebar .button.titlebutton.minimize:checked,
.titlebar .button.titlebutton.minimize:backdrop,
.titlebar .button.titlebutton.minimize:active:hover {
  border-color: transparent;
  background-color: transparent;
  color: transparent;
  border-image: none;
  transition: none;
  box-shadow: none;
  padding: 4px 0px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0; }

.header-bar .button.titlebutton.close,
.titlebar .button.titlebutton.close {
  background-image: -gtk-scaled(url("../assets/titlebutton-close-normal.png"), url("../assets/titlebutton-close-normal@2.png")); }
  .header-bar .button.titlebutton.close:hover,
  .titlebar .button.titlebutton.close:hover {
    background-image: -gtk-scaled(url("../assets/titlebutton-close-hover.png"), url("../assets/titlebutton-close-hover@2.png")); }
  .header-bar .button.titlebutton.close:active,
  .titlebar .button.titlebutton.close:active {
    background-image: -gtk-scaled(url("../assets/titlebutton-close-active.png"), url("../assets/titlebutton-close-active@2.png")); }
  .header-bar .button.titlebutton.close:backdrop,
  .titlebar .button.titlebutton.close:backdrop {
    background-image: -gtk-scaled(url("../assets/titlebutton-close-inactive.png"), url("../assets/titlebutton-close-inactive@2.png")); }
    .header-bar .button.titlebutton.close:backdrop:hover,
    .titlebar .button.titlebutton.close:backdrop:hover {
      background-image: -gtk-scaled(url("../assets/titlebutton-close-inactive-hover.png"), url("../assets/titlebutton-close-inactive-hover@2.png")); }

.header-bar .button.titlebutton.maximize,
.titlebar .button.titlebutton.maximize {
  background-image: -gtk-scaled(url("../assets/titlebutton-maximize-normal.png"), url("../assets/titlebutton-maximize-normal@2.png")); }
  .header-bar .button.titlebutton.maximize:hover,
  .titlebar .button.titlebutton.maximize:hover {
    background-image: -gtk-scaled(url("../assets/titlebutton-maximize-hover.png"), url("../assets/titlebutton-maximize-hover@2.png")); }
  .header-bar .button.titlebutton.maximize:active,
  .titlebar .button.titlebutton.maximize:active {
    background-image: -gtk-scaled(url("../assets/titlebutton-maximize-active.png"), url("../assets/titlebutton-maximize-active@2.png")); }
  .header-bar .button.titlebutton.maximize:backdrop,
  .titlebar .button.titlebutton.maximize:backdrop {
    background-image: -gtk-scaled(url("../assets/titlebutton-maximize-inactive.png"), url("../assets/titlebutton-maximize-inactive@2.png")); }
    .header-bar .button.titlebutton.maximize:backdrop:hover,
    .titlebar .button.titlebutton.maximize:backdrop:hover {
      background-image: -gtk-scaled(url("../assets/titlebutton-maximize-inactive-hover.png"), url("../assets/titlebutton-maximize-inactive-hover@2.png")); }

.header-bar .button.titlebutton.minimize,
.titlebar .button.titlebutton.minimize {
  background-image: -gtk-scaled(url("../assets/titlebutton-minimize-normal.png"), url("../assets/titlebutton-minimize-normal@2.png")); }
  .header-bar .button.titlebutton.minimize:hover,
  .titlebar .button.titlebutton.minimize:hover {
    background-image: -gtk-scaled(url("../assets/titlebutton-minimize-hover.png"), url("../assets/titlebutton-minimize-hover@2.png")); }
  .header-bar .button.titlebutton.minimize:active,
  .titlebar .button.titlebutton.minimize:active {
    background-image: -gtk-scaled(url("../assets/titlebutton-minimize-active.png"), url("../assets/titlebutton-minimize-active@2.png")); }
  .header-bar .button.titlebutton.minimize:backdrop,
  .titlebar .button.titlebutton.minimize:backdrop {
    background-image: -gtk-scaled(url("../assets/titlebutton-minimize-inactive.png"), url("../assets/titlebutton-minimize-inactive@2.png")); }
    .header-bar .button.titlebutton.minimize:backdrop:hover,
    .titlebar .button.titlebutton.minimize:backdrop:hover {
      background-image: -gtk-scaled(url("../assets/titlebutton-minimize-inactive-hover.png"), url("../assets/titlebutton-minimize-inactive-hover@2.png")); }

.maximized .header-bar .button.titlebutton.maximize, .maximized
.titlebar .button.titlebutton.maximize {
  padding: 4px 0px;
  color: transparent;
  border-image: none;
  box-shadow: none;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -gtk-scaled(url("../assets/titlebutton-maximize-maximized-normal.png"), url("../assets/titlebutton-maximize-maximized@2.png")); }

.maximized .header-bar .button.titlebutton.maximize:hover, .maximized
.titlebar .button.titlebutton.maximize:hover {
  border-color: transparent;
  background-color: transparent;
  background-image: -gtk-scaled(url("../assets/titlebutton-maximize-maximized-hover.png"), url("../assets/titlebutton-maximize-maximized-hover@2.png")); }

.maximized .header-bar .button.titlebutton.maximize:active, .maximized
.titlebar .button.titlebutton.maximize:active {
  border-color: transparent;
  background-color: transparent;
  background-image: -gtk-scaled(url("../assets/titlebutton-maximize-maximized-active.png"), url("../assets/titlebutton-maximize-maximized-active@2.png")); }

.maximized .header-bar .button.titlebutton.maximize:backdrop, .maximized
.titlebar .button.titlebutton.maximize:backdrop {
  border-color: transparent;
  background-color: transparent;
  background-image: -gtk-scaled(url("../assets/titlebutton-maximize-maximized-inactive.png"), url("../assets/titlebutton-maximize-maximized-inactive@2.png")); }
  .maximized .header-bar .button.titlebutton.maximize:backdrop:hover, .maximized
  .titlebar .button.titlebutton.maximize:backdrop:hover {
    background-image: -gtk-scaled(url("../assets/titlebutton-maximize-maximized-inactive-hover.png"), url("../assets/titlebutton-maximize-maximized-inactive-hover@2.png")); }

.header-bar.selection-mode .button.titlebutton,
.titlebar.selection-mode .button.titlebutton {
  text-shadow: none; }
  .header-bar.selection-mode .button.titlebutton:backdrop,
  .titlebar.selection-mode .button.titlebutton:backdrop {
    icon-shadow: none; }

.maximized .titlebar .header-bar,
.tiled .titlebar .header-bar, .maximized
.header-bar.titlebar,
.tiled
.header-bar.titlebar {
  padding-right: 0px; }
  .maximized .titlebar .header-bar .button.titlebutton.close, .maximized .titlebar .header-bar .button.titlebutton.close:hover, .maximized .titlebar .header-bar .button.titlebutton.close:active,
  .tiled .titlebar .header-bar .button.titlebutton.close,
  .tiled .titlebar .header-bar .button.titlebutton.close:hover,
  .tiled .titlebar .header-bar .button.titlebutton.close:active, .maximized
  .header-bar.titlebar .button.titlebutton.close, .maximized
  .header-bar.titlebar .button.titlebutton.close:hover, .maximized
  .header-bar.titlebar .button.titlebutton.close:active,
  .tiled
  .header-bar.titlebar .button.titlebutton.close,
  .tiled
  .header-bar.titlebar .button.titlebutton.close:hover,
  .tiled
  .header-bar.titlebar .button.titlebutton.close:active {
    background-position: left;
    padding: 8px 5px 8px 0px; }

.titlebar .header-bar .button.titlebutton,
.header-bar.titlebar .button.titlebutton {
  padding: 8px 0px; }

GtkMenuButton.titlebutton {
  padding: 4px; }
